<div id="dektop-content" class="hidden-mobile">
    <a href="/index" class="desktop">
      <img src="/assets/img-bkg-button.png" alt="Entrar a Guadalajara es tradicional">
    </a>

    <a href="/mobile" class="mobile">
      <img src="/assets/img-bkg-button.png" alt="Entrar a Guadalajara es tradicional">
    </a>
</div>