<div id="map_container">
  <div id="overlay"></div>
  <div id="show-all-routes" onclick="showAllRoutes()">MOSTRAR TODAS LAS RUTAS</div>
  <div id="map-canvas"></div>
  <div id="bottle">
    <img src="/assets/botella.png" alt="José Cuervo Tradicional">
  </div>
  <div id="picture-gallery-container" onclick="pictureGalleryClick(event)">
    <div id="picture-gallery">
      <input type="hidden" id="current-picture-id" value="0"/>
        <div id="panorama-overlay"></div>
        <div id="panorama"></div>
        <img id="marker-picture" src=""/>
        <div class="post">
            <div class="bkg-opacity"></div>
            <span class="post-author"></span>
            <p></p>
            <div class="navigation">
              <div class="arrow arrow-left" onclick="showPreviousPicture()"> < Anterior</div> |
              <div class="arrow arrow-right" onclick="showNextPicture()">Siguiente > </div>
            </div>
        </div>
    </div>
  </div>
  <div id="influencer-picture" onclick="showInfluencerGallery()">
    <img src="" />
  </div>
  <div id="influencer-container" onclick="influencerGalleryClick(event)">
    <div id="influencer-gallery">
      <iframe id="influencer-video" width="420" height="345" src="">
      </iframe>
    </div>
  </div>
  <div id="news-feed">
    <div>HEADER</div>
    <div>PARTICIPA</div>
    <div>¿Qué dice GDL?</div>
    <a class="twitter-timeline" href="https://twitter.com/hashtag/corgi" data-widget-id="500007154091180032"></a>
     <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>

</div>

<div id="intro">
  <a href="#" class="desktop" onclick='launchApp()'>
    <img src="/assets/img-bkg-button.png" alt="Entrar a Guadalajara es tradicional">
  </a>
</div>