<div id="map_container">
  <div id="overlay"></div>
  <div id="show-all-routes" onclick="showAllRoutes()" style="display: none;"><img src="/assets/boton_regresar.png" alt="Mostrar todas las rutas"></div>
  <div id="map-canvas"></div>
  <div id="bottle">
    <img src="/assets/bottle_631.png" alt="José Cuervo Tradicional">
  </div>
  <div id="help-gallery-container" onclick="helpGalleryClick(event)">
    <div id="help-gallery">
      <div id="help-slick-carousel">
        <div><img src="/assets/help/Pantalla-de-Ayuda_01.png"></div>
        <div><img src="/assets/help/Pantalla-de-Ayuda_02.png"></div>
        <div><img src="/assets/help/Pantalla-de-Ayuda_03.png"></div>
        <div><img src="/assets/help/Pantalla-de-Ayuda_04.png"></div>
        <div><img src="/assets/help/Pantalla-de-Ayuda_05.png"></div>
        <div><img src="/assets/help/Pantalla-de-Ayuda_06.png"></div>
        <div><img src="/assets/help/Pantalla-de-Ayuda_07.png"></div>
        <div><img src="/assets/help/Pantalla-de-Ayuda_08.png"></div>
        <div><img src="/assets/help/Pantalla-de-Ayuda_09.png"></div>
        <div><img src="/assets/help/Pantalla-de-Ayuda_10.png"></div>
      </div>
    </div>
  </div>
  <div id="picture-gallery-container" onclick="pictureGalleryClick(event)">
    <div id="picture-gallery">
      <input type="hidden" id="current-picture-id" value="0"/>
      <div id="panorama-overlay"></div>
      <div id="panorama"></div>
      <img id="marker-picture" src=""/>
      <div class="post">
        <div class="bkg-opacity"></div>
        <span class="post-author"></span>
        <p></p>
        <div class="navigation">
          <div class="arrow arrow-left" onclick="showPreviousPicture()"> < Anterior</div> |
          <div class="arrow arrow-right" onclick="showNextPicture()">Siguiente > </div>
        </div>
        <span class="post-like"></span>
      </div>
    </div>
  </div>
  <div id="user-picture-gallery-container" onclick="userPictureGalleryClick(event)">
    <div id="user-picture-gallery">
      <input type="hidden" id="user-current-picture-id" value="0"/>
      <div id="user-panorama-overlay"></div>
      <div id="user-panorama"></div>
      <img id="user-marker-picture" src=""/>
      <div class="post">
        <div class="bkg-opacity"></div>
        <span class="post-author"></span>
        <span class="post-like"></span>
        <p></p>
        <div class="navigation">
          <div class="arrow arrow-left" onclick="userShowPreviousPicture()"> < Anterior</div> |
          <div class="arrow arrow-right" onclick="userShowNextPicture()">Siguiente > </div>
        </div>
      </div>
    </div>
  </div>
  <div id="influencer-picture" onclick="showInfluencerGallery()" style="display: none;">
    <div class="influencer-picture-title">
      <img src="/assets/btn_conoce.png" alt="Conoce más sobre esta ruta" class="influencer-message">
    </div>
    <div class="influencer-images">
      <img src="/assets/icono_influencer.png" alt="Influencer" class="image-influencer" style="display: none;" >
      <img src="/assets/icono_ruta.png" alt="Ruta" class="image-route" style="display: none;">
    </div>
  </div>
  <div id="influencer-container" onclick="influencerGalleryClick(event)">
    <div id="influencer-gallery">
      <div>
        <img src="/assets/icono_influencer.png" alt="Influencer" class="image-influencer" style="display: none;" >
        <img src="/assets/icono_ruta.png" alt="Ruta" class="image-route" style="display: none;">
        <h3 class="influencer-title"></h3>
        <p class="influencer-description"></p>
      </div>
      <iframe id="influencer-video" width="420" height="345" src="" style="display: none;">
      </iframe>
    </div>
  </div>

  <div class="zoom-image" style="display: none;">
    <img src="/assets/boton_zoom.png" alt="Zoom">
  </div>

  <div class="nav" style="display: none;">
    <div class="news-feed-header"r>
      <img src="/assets/logo_cuervo.png" alt="Cuervo Tradicional" class="logo-cuervo"><img src="/assets/logo.png" alt="GDL es Tradicional" class="logo-gdl-tradicional">
    </div>
    <div class="promo">
      <a class="button tribute" href="#" title="Únete al homenaje" onclick=""><span>Únete al homenaje</span></a>
      <div class="clearfix"></div>
    </div>
    <div class="icon-list">
        <ul>
          <li class="newsfeed-button icon-list-item"><a title="Noticias"><span class="icon-uniE60D"></span></a></li>
          <li class="account-button icon-list-item"><a title="Cuenta"><span class="icon-IGCONNECTpng"></span></a></li>
          <li class="help-button icon-list-item" onclick="showHelpGallery()"><a title="Ayuda"><span class="icon-uniE60E"></span></a></li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="nav-container">
        <div id="user-div" class="nav-container-item" style="display: none;">
        <div id="login-btn">
          <a class="button participate" href="#" title="Participa" onclick="login()">PARTICIPA <br> Conéctate con Instagram y obtén premios</a>
        </div>
        <div id="dashboard">
          <table>
            <tr>
              <td class="dashboard-element-pic"><img /></td>
              <td class="dashboard-element" colspan="2">
                <div id="user-name"></div>
                <div id="instagram-logout" onclick="logout()">Cerrar sesión</div>
              </td>
            </tr>
          </table>
          <table>
            <tr>
              <td class="user-element" title="Puntos">
                <div id="user-points"></div>
                <div><span class="icon icon-uniE60A"></span></div>
                <div class="icon-name">Puntos</div>
              </td>
              <td class="user-element" onclick="showUserPictures()" title="Fotos">
                <div id="user-photos"></div>
                <div><span class="icon icon-uniE608"></span></div>
                <div class="icon-name">Fotos</div>
              </td>
              <td class="user-element"onclick="showInviteModal()" title="Invitaciones">
                <div id="user-invites"></div>
                <div><span class="icon icon-uniE609"></span></div>
                <div class="icon-name">Invitaciones</div>
              </td>
            </tr>
          </table>
        </div>
        <div class="loader instagram-loader" style="display: none;">
          <img src="/assets/AjaxLoader.gif" alt="Conectar con Instragram" >
          <span>Iniciando sesión con Instragram, espere un momento por favor.</span>
        </div>
      </div>
      <div id="news-feed" class="nav-container-item" style="display: none;">
        <div class="news-feed-canvas">
            <a class="twitter-timeline" href="https://twitter.com/hashtag/gdlestradicional" data-widget-id="510232919063793664"></a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
      </div>
        <div class="clearfix"></div>
    </div>
  </div>

  <div class="social-networks-icons" style="display: none;">
    <ul>
      <li><a href="http://instagram.com/jctradicional" title="Instragram" target="_blank"><span class="icon-uniE602"></span></a></li>
      <li><a href="https://twitter.com/jctradicional" title="Twitter" target="_blank"><span class="icon-uniE600"></span></a></li>
      <li><a href="https://www.facebook.com/jctradicional" title="Facebook" target="_blank"><span class="icon-uniE601"></span></a></li>
      <li><a href="http://www.cuervotradicional.com.mx" title="Cuervo Tradicional" target="_blank" class="cuervo"><span class="icon-uniE611"></span></a></li>
    </ul>
  </div>
  
</div>

<div id="intro">
  <a class="desktop" onclick='launchApp()'>
    <img src="/assets/logo.png" alt="Entrar a Guadalajara es Tradicional">
    <div class="enter">Al entrar confirmas ser mayor de 18 años</div>
    <div class="clearfix"></div>
  </a>
</div>

<div id="invites" style="display: none;">
    <div class="message">
      <span class="close_modal" onclick="hideInviteModal()">x</span>
      <h3>Invita a tus amigos</h3>
      <div class="share-buttons">
          <a href="#" class="fb" onclick="shareFB()"><span class="icon-uniE601 icon"></span> Facebook</a>
          <a href="#" class="tw" target="_blank"><span class="icon-uniE600 icon"></span> Twitter</a>
      </div>
    </div>
</div>

<div id="mail-form" style="display: none;">
  <div class="message">
    <div class="mail-message">
      <h3>Ayúdanos a completar tu registro</h3>
      <form>
        <p>
            <label>Correo electrónico:</label>
            <%= email_field_tag :email, '', :required => true, :id => 'mail', :placehoder => 'example@mail.com' %>
		    <span id="email-validation-field"></span>
        </p>
        <p>
          <button class="send-mail">Enviar</button>
        </p>
      </form>
      <p class="privacity" style="display: none;">
        Lee nuestro <a href="#" title="Aviso de privacidad">aviso de privacidad</a>
      </p>
    </div>
    <div class="success-message" style="display: none;">
      <p>Acumula puntos subiendo fotos con el hashtag #GDLesTradicional en INSTAGRAM </p>
      <dl>
        <dt>1 Punto: Fotos fuera de las rutas</dt>
        <dt>3 Puntos: Fotos dentro de las rutas</dt>
        <dt>5 Puntos: Fotos en el lugar "Enfoque Tradicional" de la semana</dt>
      </dl>
      <p>Tus fotos aparecerán en las rutas de este mapa interactivo, recuerda activar la geolocalización de Instagram</p>
      <button class="start" onclick="hideMailModal();">Comenzar</button>
    </div>
  </div>
</div>

<div id="instragram-invite" style="display: none;">
  <div class="message">
    <span class="close_modal" onclick="hideInstragramModal()">x</span>
    <div class="instragram-invite-message">
      <h3>Participa compartiendo fotos con el hashtag #GDLesTradicional desde Instagram</h3>
    </div>
  </div>
</div>

<div id="terms-privacity" style="display: none;">
  <div class="message">
    <span class="close_modal" onclick="hideTermsPrivacity()">x</span>
    <h3>
      BASES DINÁMICA <br>
      CUERVO TRADICIONAL® #GDLESTRADICIONAL
    </h3>
    <p>
        #GDLESTRADICIONAL ES UN TRIBUTO A ESTA IMPORTANTE Y EMBLEMÁTICA CAPITAL DE JALISCO.
        <br><br>
        DESCRIPCIÓN DE LA DINÁMICA
        <br><br>
        ES MUY FÁCIL PARTICIPAR, SÓLO  A ENTRA A: <a href="http://WWW.GDLESTRADICIONAL.COM" title="WWW.GDLESTRADICIONAL.COM" target="_blank">WWW.GDLESTRADICIONAL.COM</a>
        DURANTE LAS FECHAS QUE SE DEFINEN EN CADA ETAPA Y
        PODRÁS TENER LA POSIBILIDAD DE GANAR VUELOS EN GLOBO AEROÉSTATICO Y TARJETAS ITUNES.
        <br><br>
        LA DINÁMICA SE DIVIDE EN DOS ESTAPAS, EN CADA ETAPA PODRÁS PARTICIPAR Y GANAR:
        <br><br>
        PRIMERA ETAPA:  ENTRA A LA PÁGINA: <a href="http://WWW.GDLESTRADICIONAL.COM" title="WWW.GDLESTRADICIONAL.COM" target="_blank">WWW.GDLESTRADICIONAL.COM</a> PARA REVISAR LAS RUTAS  QUE SE VERÁN EN EL SITE, ACCESA CON
        TU CUENTA DE INSTAGRAM, TOMA FOTOGRAFÍAS ORIGINALES Y DE TU AUTORÍA PRIMIGENIA DE LOS PUNTOS DE DICHAS RUTAS Y SÚBELAS A
        TU CUENTA DE INSTAGRAM; AL SUBIRLAS UTILIZA EL HASHTAG #GDLESTRADICIONAL, POR CADA ACCIÓN OBTENDRÁS PUNTOS. AL FINALIZAR
        LA PRIMERA ETAPA DE LA DINÁMICA SE HARÁ UN RECUENTO DE LOS 4 PARTICIPANTES CON MAYORES PUNTUACIONES, QUIENES SERÁN LOS
        GANADORES DE ESTA PRIMERA ETAPA.
        <br><br>
        SEGUNDA ETAPA: PODRÁS VOTAR POR TU RUTA FAVORITA EN LA PÁGINA: <a href="http://WWW.GDLESTRADICIONAL.COM" title="WWW.GDLESTRADICIONAL.COM" target="_blank">WWW.GDLESTRADICIONAL.COM</a>
        Y SE TE HARÁN 4 PREGUNTAS SOBRE LOS PUNTOS QUE CONFORMAN ESTA RUTA Y UNA PREGUNTA CREATIVA SOBRE LA RUTA POR LA QUE HAYAN VOTADO. LAS 5 PERSONAS QUE RESPONDAN DICHAS PREGUNTAS CORRECTAMENTE Y CON LAS RESPUESTÁS MÁS ORIGINALES SERÁN LOS GANADORES DE ESTA SEGUNDA ETAPA.
        <br><br>
        SÉ PARTE DE #GDLESTRADICIONAL Y DE NUESTRAS #NUEVASTRADICIONES.
        <br><br>
        MECÁNICA
        <br><br>
        ETAPA 1:
    </p>
    <ul>
      <li>PROMOCIÓN VÁLIDA ÚNICAMENTE PARA MAYORES DE 18 AÑOS QUE RADIQUEN TEMPORAL O DEFINITIVAMENTE DENTRO DE LA REPÚBLICA MEXICANA, DEBERÁS CONTAR CON IDENTIFICACIÓN OFICIAL VIGENTE PARA PODER PARTICIPAR Y EN SU CASO PARA RECLAMAR EL PREMIO. </li>
      <li>LA PRIMERA ETAPA SERÁ DEL 3 DE SEPTIEMBRE DEL 2014 AL 31 DE OCTUBRE DEL 2014.</li>
      <li>PODRÁS PARTICIPAR SUBIENDO TUS FOTOGRAFÍAS ORIGINALES Y DE TU AUTORÍA PRIMIGENIA A LA PÁGINA  <a href="http://WWW.GDLESTRADICIONAL.COM" title="WWW.GDLESTRADICIONAL.COM" target="_blank">WWW.GDLESTRADICIONAL.COM</a>, SIGUIENDO LAS SIGUIENTES INSTRUCCIONES:
        <ol>
            <li>ENTRA A LA <a href="http://WW.GDLESTRADICIONAL.COM" title="WWW.GDLESTRADICIONAL.COM" target="_blank">WWW.GDLESTRADICIONAL.COM</a> Y HAZ LOGIN CON TU USUARIO DE INSTAGRAM, LEE Y ACEPTA LOS PRESENTES TÉRMINOS Y CONDICIONES DE LA DINÁMICA, ASÍ COMO EL RESPECTIVO AVISO DE PRIVACIDAD PARA PODER  PARTICIPAR. </li>
            <li>EN LA PÁGINA <a href="http://WWW.GDLESTRADICIONAL.COM" title="WWW.GDLESTRADICIONAL.COM" target="_blank">WWW.GDLESTRADICIONAL.COM</a> SE MOSTRARÁN RUTAS DE LA GDLESTRADICIONAL, DEBERÁS ELEGIR UNA RUTA Y SUBIR UNA FOTOGRAFÍA CON EL HT #GDLESTRADICONAL PARA PODER PARTICIPAR</li>
            <li>TOMA FOTOGRAFÍAS INÉDITAS, ORIGINALES Y DE TU AUTORIA PRIMIGENIA DE LOS DIFERENTES PUNTOS DE LAS RUTAS.</li>
            <li>SÚBE TUS FOTOGRAFÍAS A TU CUENTA DE INSTAGRAM UTILIZANDO EL HASHTAG #GDLESTRADICIONAL, POR CADA FOTOGRAFÍA QUE SUBAS OBTENDRÁS PUNTOS.</li>
        </ol>
      </li>
      <li>HAY TRES TIPOS DE CALIFICACIÓN PARA LAS FOTOGRAFÍAS:
        <ol>5 PUNTOS SI SE TOMAN DESDE UN PUNTO PRINCIPAL DE LA CIUDAD QUE CUERVO TRADICIONAL® COMUNICÓ, CON ATICIPACIÓN, A TRAVÉS DE SUS REDES SOCIALES OFICIALES: <a href="http://instagram.com/jctradicional" title="http://instagram.com/jctradicional" target="_blank">http://instagram.com/jctradicional</a>  <a href="https://twitter.com/jctradicional" title="https://twitter.com/jctradicional">https://twitter.com/jctradicional</a> <a href="https://www.facebook.com/jctradicional" title="https://www.facebook.com/jctradicional">https://www.facebook.com/jctradicional</a>  ESTOS PUNTOS SE DENOMINARÁN “ENFOQUE TRADICIONAL” </ol>
        <ol>3 PUNTOS SI SE TOMAN EN UN PUNTO ESPECIFICADO DENTRO DE LAS RUTAS DEFINIDAS EN <a href="http://WWW.GDLESTRADICIONAL.COM" title="WWW.GDLESTRADICIONAL.COM" target="_blank">WWW.GDLESTRADICIONAL.COM</a></ol>
        <ol>1 PUNTO SI SE TOMA CERCA DE ALGÚN PUNTO DEFINIDO DENTRO DE LAS RUTAS DEFINIDAS EN <a href="http://WWW.GDLESTRADICIONAL.COM" title="WWW.GDLESTRADICIONAL.COM" target="_blank">WWW.GDLESTRADICIONAL.COM</a></ol>
      </li>
      <li>MIENTRAS MÁS PUNTOS OBTENGAS, MÁS OPORTUNIDADES TIENES DE GANAR UNO DE LOS 4 PREMIOS QUE CUERVO TRADICIONAL® TIENE PARA LOS GANADORES DE ESTA ETAPA.</li>
      <li>LOS 4 GANADORES SERÁN ELEGIDOS POR EL NÚMERO DE PUNTOS QUE ACUMULEN DURANTE ESTA PRIMERA ETAPA.</li>
      <li>QUEDA PROHIBIDO PARA LOS PARTICIPANTES DE ESTA ETAPA, REALIZAR FOTOGRAFÍAS DONDE APAREZCAN MENORES DE EDAD, PERSONAS CON BOTELLAS ALCOHÓLICAS O ALCOHOLIZADAS. TAMBIÉN SE DESCALIFICARÁN LAS FOTOGRAFÍAS QUE MUESTREN IMÁGENES VIOLENTAS, AGRESIVAS U OFENSIVAS.</li>
      <li>LAS FOTOGRAFÍAS DEBERÁN SER INÉDITAS, ORIGINALES Y DE LA AUTORÍA PRIMIGENA DE LOS PARTICIPANTES, NO UTILIZANDO IMÁGENES DE TERCERAS PERSONAS EN LAS FOTOGRAFÍAS; Y SI SE LLEGARAN A USAR IMÁGENES DE TERCERAS PERSONAS, EL PARTICIPANTE DEBERÁ OBTENER LA PLENA AUTORIZACIÓN DE USO DE IMAGEN DE DICHAS PERSONAS CUYAS IMÁGENES SE PLASMEN EN LAS FOTOGRAFÍAS, QUEDANDO CUERVO TRADICIONAL® FACULTADO PARA REQUERIR DICHAS AUTORIZACIONES DE USO DE IMAGEN PARA PODER PARTICIPAR EN LA DINÁMICA. </li>
      <li><strong><em>ES IMPRESCINDIBLE QUE LA PERSONA QUE INGRESA CON LA CUENTA DE INSTAGRAM Y LA QUE PARTICIPA EN LAS DINÁMICAS SEA LA MISMA PERSONA.</em></strong></li>
      <li><strong>NO EXISTE LÍMITE DE FOTOGRAFÍAS PARA SUBIR A LA DINÁMICA EN LA PRIMERA ETAPA, PERO SÓLO SE TOMARÁN EN CUENTA AQUELLAS QUE HAYAN SIDO TOMADAS EN EL PERIODO DE LA PRIMERA ETAPA, QUE CORRESPONDE DEL 3 DE SEPTIEMBRE DEL 2014 AL 31 DE OCTUBRE DEL 2014 Y CUMPLAN CON ESTOS TÉRMINOS Y CONDICIONES, DE LO CONTARIO PODRÁN NO SER CONSIDERADAS PARA LA GENERACIÓN DE PUNTOS Y SE RESTARÁN AL TOTAL DE CADA USUARIO AL MOMENTO DE ELEGIR GANADORES DE LA PRIMER ETAPA DE LA DINÁMICA.</strong></li>
    </ul>
    <p>ETAPA 2:</p>
    <ul>
      <li>PROMOCIÓN VÁLIDA ÚNICAMENTE PARA MAYORES DE 18 AÑOS QUE RADIQUEN TEMPORAL O DEFINITIVAMENTE DENTRO DE LA REPÚBLICA MEXICANA, DEBERÁS CONTAR CON IDENTIFICACIÓN OFICIAL VIGENTE PARA PODER PARTICIPAR Y EN SU CASO PARA RECLAMAR EL PREMIO. </li>
      <li>LA SEGUNDA ETAPA COMIENZA DEL 18 AL 31 DE OCTUBRE DEL 2014 </li>
      <li>PODRÁS PARTICIPAR EN ESTA ETAPA INGRESANDO A LA PÁGINA <a href="http://WWW.GDLESTRADICIONAL.COM" title="WWW.GDLESTRADICIONAL.COM" target="_blank">WWW.GDLESTRADICIONAL.COM</a>, LEE Y ACEPTA LOS PRESENTES TÉRMINOS Y CONDICIONES DE LA DINÁMICA, ASÍ COMO EL RESPECTIVO AVISO DE PRIVACIDAD PARA PODER  PARTICIPAR. </li>
      <li>YA EN LA PÁGINA <a href="http://WWW.GDLESTRADICIONAL.COM" title="WWW.GDLESTRADICIONAL.COM" target="_blank">WWW.GDLESTRADICIONAL.COM</a> VOTA POR TU RUTA FAVORITA Y PARTICIPA POR UNO DE LOS 5 PREMIOSQUE CUEVRO TRADICIONAL® TIENE PARA TI RESNPONDIENDO 4 PREGUNTAS SOBRE LA RUTA QUE ELEGISTE Y UNA PREGUNTA CREATIVA SOBRE LA MISMA. TODAS LAS PREGUNTAS SON DE CONOCIMIENTOS, EN DONDE SÓLO HAY UNA RESPUESTA VÁLIDA. </li>
      <li>LAS 5 PERSONAS QUE RESPONDAN DICHAS PREGUNTAS CORRECTAMENTE Y DEN LAS RESPUESTAS MÁS ORIGINALES SERÁN LOS GANADORES DE ESTA SEGUNDA ETAPA..</li>
      <li>SÓLO SE ADMITE UNA PARTICIPACIÓN POR USUARIO.</li>
      <li>LOS 5 GANADORES SERÁN ELEGIDOS POR UN JURADO INTEGRADOR POR 2 PERSONAS, DICHO JURADO ESTARÁ INTEGRADO POR EL  EQUIPO DE LA MARCA CUERVO TRADICIONAL®, QUIENES CALIFICARAN LA VERACIDAD, ORIGINALIDAD Y CREATIVIDAD DE LAS RESPUESTAS DE  LOS PARTICIPANTES</li>
      <li>LA DECISIÓN DEL JURADO SERÁ INAPELABLE.</li>
    </ul>
    <p>GANADORES</p>
    <ul>
      <li>EL JURADO NOMBRARÁ A LOS 4 GANADORES DE LA PRIMERA ETAPA Y LOS 5 GANADORES DE LA SEGUNDA ETAPA A MÁS TARDAR EL 5 DE NOVIEMBRE DEL 2014, A QUIENES SE LES NOTIFICARÁ EN LAS  REDES SOCIALES DE FACEBOOK Y TWITTER DE CUERVO TRADICIONAL®. </li>
      <li>LOS GANADORES TENDRÁN 3 DÍAS DESPUÉS DE NOTIFICADO POR LAS VÍAS ANTES MENCIONADAS PARA RECLAMAR SU PREMIO ENVIANDO UN CORREO ELECTRÓNICO A  _TRADICIONAL.CUERVO@GMAIL.COM_CON TODOS SUS DATOS. </li>
      <li>EN EL SUPUESTO DE QUE LOS GANADORES NO RESPONDAN O NO SE PRESENTEN PARA RECLAMAR SU PREMIO EN EL PLAZO DESCRITO ANTERIORMENTE, DICHO CONCURSANTE PERDERÁ SU DERECHO AL PREMIO, POR LO QUE EL PREMIO SERÁ AUTOMÁTICAMENTE OTORGADO AL QUE QUEDARÁ EN QUINTO O SEXTO LUGAR RESPECTIVAMENTE POR CADA ETAPA. EN CASO DE QUE ÉSTOS CONCURSANTES TAMPOCO RESPONDAN O SE PRESENTENTEN A RECLAMAR SU PREMIO PERDERÁN EL DERECHO AL PREMIO, ASÍ SUCESIVAMENTE HASTA QUE ALGUNO DE LOS SELECCIONADOS SEA ELEGIDO SUCESIVAMENTE Y SE RECLAME EL PREMIO. </li>
    </ul>
    <p>PREMIOS</p>
    <ul>
      <li>LOS GANADORES DE LA ETAPA UNO OBTENDRÁN COMO PREMIO UN VIAJE EN GLOBO AEROESTÁTICO POR LA CIUDAD DE GUADALAJARA</li>
      <li>LOS GANADORES DE LA ETAPA DOS OBTENDRÁN COMO PREMIO UN KIT GDL ES TRADICIONAL</li>
    </ul>
    <p>CONDICIONES</p>
    <ul>
      <li>DINÁMINA VÁLIDA EXCLUSIVAMENTE PARA PERSONAS QUE VIVAN DENTRO DE LA REPÚBLICA MEXICANA. PARTICIPAN MEXICANOS Y EXTRANJEROS MAYORES DE 18 AÑOS QUE RADIQUEN TEMPORAL O DEFINITIVAMENTE DENTRO DE LA REPÚBLICA MEXICANA.</li>
      <li>PARA SER ELEGIDO COMO GANADOR Y RECLAMAR TU PREMIO DEBES:
        <ol>
          <li>DEMOSTRAR SER MAYOR DE EDAD (18 AÑOS CUMPLIDOS AL MOMENTO DE PARTICIPAR).</li>
          <li>PARTICIPAR EN LAS DINÁMICAS, DE ACUERDO CON LOS PRESENTES TÉRMINOS Y CONDICIONES.</li>
        </ol>
      </li>
      <li>SI SE ENCUENTRAN IRREGULARIDADES CON ALGUNA DE LAS PARTICIPACIONES ESTÁS SERÁN ELIMINADAS DE LAS DINÁMICAS.</li>
      <li>CUERVO TRADICIONAL SE RESERVA EL DERECHO DE ELIMINAR CUALUQUIER FOTOGRAFÍA QUE DAÑE O RESULTE AGRESIVA PARA LA IMAGEN DE LA MARCA. ASÍ COMO FOTOGRAFÍAS EN LA CUALES SE VEA CONSUMO DE BEBIDAD ALCOHOLICAS, PERSONAS EN ESTADO DE EBRIEDAD,  MENORES DE EDAD O QUE NO CUMPLAN CON LO ESTABLECIDO EN LAS PRESENTE CLÁSULAS. </li>
      <li>LAS FOTOGRAFÍAS DEBERÁN SER INÉDITAS, ORIGINALES Y DE LA AUTORÍA PRIMIGENA DE LOS PARTICIPANTES</li>
      <li><strong>CUERVO TRADICIONAL® ESTÁ FACULTADO PARA REQUERIR LAS AUTORIZACIONES DE USO DE IMAGEN DE TERCERAS PERSONAS QUE SE UTILICEN EN LAS FOTOGRAFÍAS, EN CASO DE QUE EL PARTICIPANTE NO LA ENTREGUE A SOLICITUD DE CUERVO, ÉSTE QUEDARÁ INMEDIATAMENTE DESCALIFICADO.</strong></li>
      <li><strong><em>EN NINGUN MOMENTO ESTE PREMIO PODRÁ SER CONSIDERADO UNA RELACIÓN LABORAL ENTRE LOS ORGANIZADORES Y EL GANADOR. </em></strong></li>
      <li><strong><em>EL PREMIO NO ES TRASNFERIBLE, REEMBOLSABLE O CANJEABLE</em></strong></li>
      <li><strong>LA VIGENCIA DE LA PRESENTE DINÁMICA SERÁ DEL 3 DE SEPTIEMBRE DEL 2014 AL 31 DE OCTUBRE DEL 2014 </strong></li>
      <li>•	NO PODRÁN PARTICIPAR AQUELLAS PERSONAS O FAMILIARES DIRECTOS DE PERSONAS QUE TRABAJEN DIRECTA O INDIRECTAMENTE PARA CASA CUERVO, S.A. DE C.V.  O SUS COMPAÑIAS FILIALES, SUBSIDIARIAS O RELACIONADAS CORPORATIVAMENTE O PARA  ACHE ENTRETENIMIENTO, SA DE CV O PARA MKT2O DE MEXICO SA DE CV O PARA HERNANDEZ Y RUBIO PRODUCCIÓN DE CONTENIDOS SA DE CV, BBDO MEXICO  </li>
      <li>•	PARA DUDAS Y/O COMENTARIOS ESCRIBIR A <a href="mailto:TRADICIONAL.CUERVO@GMAIL.COM" title="TRADICIONAL.CUERVO@GMAIL.COM">TRADICIONAL.CUERVO@GMAIL.COM</a></li>
    </ul>
    <p>CUERVO TRADICIONAL® SE RESERVA EL DERECHO, A SU SOLA DISCRECIÓN, DE DESCALIFICAR A CUALQUIER PARTICPANTE CUYA ACTITUD SEA CONSIDERADA INAPROPIADA U OFENSIVA EN CONTRA DE LA DINÁMICA #GDLESTRADICIONAL®. O EN CONTRA DE LOS DEMÁS PARTICIPANTES, ASÍ COMO DE ELIMINAR DE LA DINÁMICA AQUELLAS FOTOS CON COMENTARIOS O PREGUNTAS QUE RESULTEN NEGATIVOS, AGRESIVOS, OFENSIVOS O AGRAVIANTES PARA CUALQUIER PERSONA FÍSICA O MORAL O BIEN QUE NO CUMPLA CON CUALQUIERA DE LOS REQUISITOS ESTABLECIDOS EN LAS BASES DE ESTA DINÁMICA.</p>
    <p><strong>DERECHOS Y USOS DE LAS FOTOGRAFÍAS PARTICIPANTES</strong></p>
    <ul>
      <li>CUERVO TRADICIONAL® NO ALMACENARÁ EN NINGÚN MOMENTO EN SUS SERVIDORES FOTOGRAFÍAS QUE ESTÉN PARTICIPANDO A TRAVÉS DE INSTAGRAM, LAS MISMAS ESTARÁN SIEMPRE ALOJADAS DESDE LA CUENTA DE DICHO PARTICIPANTE EN DICHA  RED SOCIAL.</li>
      <li>NO SE UTILIZARÁN LAS FOTOGRAFÍAS PARA FINES COMERCIALES, NI PROMOCIONALES SIN PEVIA AUTORIZACIÓN DEL AUTOR DE LAS MISMAS Y QUIENES APERZCAN EN ELLAS.</li>
      <li>•	SI UN USUARIO NO SE ENCUENTRA DE ACUERDO DE QUE SU FOTOGRAFÍA APAREZCA EN LA PLATAFORMA #GDLESTRADICIONAL.COM TENDRÁ QUE NOTIFICAR AL CORREO ELECTRÓNICO <a href="mailto:TRADICIONAL.CUERVO@GMAIL.COM" title="TRADICIONAL.CUERVO@GMAIL.COM">TRADICIONAL.CUERVO@GMAIL.COM</a> JUNTO A UN SCREEN SHOT DE LA FOTOGRAFÍA Y USUARIO DE INSTAGRAM PARA SER REMOVIDA EN LOS SIGUIENTES 05 DÍAS HÁBILES DE HABER SIDO NOTIFICADA A DICHO CORREO ELECTRÓNICO.</li>
    </ul>
    <p>#GDLESTRADICIONAL CELEBRA NUESTRAS NUEVAS TRADICIONES COMO MEXICANOS, TE INVITAMOS A PARTICIPAR CON ORGULLO EN ESTE HOMENAJE.</p>
    <br>
    <br>
    <h3>Aviso de Privacidad para participantes de #GDLestradicional®</h3>
    <p>
      Casa Cuervo, S.A. de C.V. (en lo subsecuente Casa Cuervo) con domicilio en Avenida Rio Churubusco número 213,
      Colonia Granjas México, C.P. 08400, en la Ciudad de México, Distrito Federal, en estricto cumplimiento a lo
      dispuesto en la Ley Federal de Protección de Datos Personales en Posesión de los Particulares y su Reglamento
      (en adelante la Legislación), te informa que obtendrá, transferirá y tratará tus siguientes datos personales:
      Nombre, cuenta de INSTAGRAM, correo electrónico y fotografía que compartas con el hashtag #GDLesTRADICIONAL
      (en su caso) con <strong>la finalidad primaria</strong> de que participes en la mecánica a la que se refieren las bases
      <strong>(“#GDLESTRADICIONAL®”)</strong> arriba transcritas y si eres uno de los ganadores para notificártelo y hacerte entrega del
      premio a que se refieren dichas bases.
    </p>
    <p>
      Casa Cuervo tratará tus datos personales de conformidad con los principios de licitud, consentimiento, información,
      calidad, finalidad, lealtad, proporcionalidad y responsabilidad en términos de lo dispuesto en la Legislación.
    </p>
    <p>
      Con el objeto de impedir el acceso y revelación no autorizada, mantener la exactitud de los datos y garantizar el uso
      correcto de la información, Cuervo utiliza los procedimientos físicos, tecnológicos y administrativos apropiados para
      proteger la información que recaba. Te informamos que los datos personales que nos has proporcionado se guardarán en
      bases de datos controladas y con acceso limitado
    </p>
    <p>
      Podrás ejercer tus derechos de acceso, rectificación, cancelación y/o oposición (ARCO), así como la revocación de
      consentimiento contenidos en la Legislación mediante formulario que podrá obtenerse previa solicitud a la siguiente
      dirección electrónica <a href="mailto:avisoprivacidadmkt@cuervo.com.mx" title="avisoprivacidadmkt@cuervo.com.mx">avisoprivacidadmkt@cuervo.com.mx</a>. Asimismo, Cuervo ha puesto a tu disposición, el procedimiento
      por el cual puedes ejercer tus derechos ARCO y revocación de consentimiento en la página web <a href="http://www.cuervoavisodeprivacidad.com.mx" title="web www.cuervoavisodeprivacidad.com.mx">www.cuervoavisodeprivacidad.com.mx</a>
    </p>
    <p>
      Casa Cuervo se abstendrá de vender, arrendar, alquilar o transferir a terceros los datos personales que nos proporciones.
    </p>
    <p>
      En caso de que ocurra una vulneración de seguridad en cualquier fase del tratamiento de datos personales,
      Cuervo a través de la figura del responsable, lo hará de tu conocimiento de manera inmediata y pública en la
      siguiente página de internet www.cuervoavisodeprivacidad.com.mx, para que tomes las medidas correspondientes a fin de
      resguardar tus derechos.
    </p>
    <p>
      Cuervo se reserva el derecho a modificar el presente aviso de privacidad, mismo que se anunciará en <a href="http://www.cuervoavisodeprivacidad.com.mx" title="www.cuervoavisodeprivacidad.com.mx" target="_blank">www.cuervoavisodeprivacidad.com.mx</a>  con razonable antelación a su puesta en práctica.
    </p>

  </div>
</div>

<div class="helpButton" style="display: none;">
  <img src="/assets/comienza_btn.png" alt="Comienza aquí" onclick="showHelpGallery()">
</div>

<div class="touchMarkerMessage" style="display: none;">
  <span class="close_marker_message" onclick="hideMarkerMessage()">x</span>
  <div class="clearfix"></div>
  <p>Toca los puntos sobre el mapa para ver más información y fotos. También puedes arrastrar las imágenes sobre el mapa.</p>
</div>

<footer class="footer" style="display:none;">
  <a onclick="showTermsPrivacity();" title="Términos y condiciones">TÉRMINOS Y CONDICIONES</a> - <a href="http://www.alcoholinformate.com.mx" title="www.alcoholinformate.com.mx" target="_blank">www.alcoholinformate.com.mx</a> - Conocer es no excederse
</footer>

<div id="ruby-values" data-user="<%= @user.to_json%>" data-illumination="<%= @illumination.active %>"></div>
<% if @user %>
  <iframe width="1" height="1" frameborder="0" src="http://tbl.tradedoubler.com/report?organization=1574207&event=256040&leadNumber=<%= current_user.uid%>"></iframe>
<% end %>
<div id="fb-root"></div>
