<header>
  <div class="header-mobile">
    <h1>#GDL<span>ES</span>TRADICIONAL</h1>
  </div>
  <nav>
    <ul class="routes">
      <li><a id="simple-menu" href="#sidr" style="visibility: hidden;"><span class="icon-uniE604"></span></a></li>
    </ul>
    <ul>
      <li><a href="http://instagram.com/jctradicional"><span class="icon-uniE602"></span></a></li>
      <li><a href="https://twitter.com/jctradicional"><span class="icon-uniE600"></span></a></li>
      <li><a href="https://www.facebook.com/jctradicional"><span class="icon-uniE601"></span></a></li>
    </ul>
  </nav>
</header>
<div id="gallery" style="display: none;">
  <span class="close-gallery"><span class="icon-uniE603"></span></span>
  <div id="slick-carousel"></div>
</div>
<div id="map_container">
  <div id="map-canvas"></div>
  <div id="influencer-picture" onclick="showInfluencerGallery()">
    <img src="" />
  </div>
  <div id="influencer-container" onclick="influencerGalleryClick(event)">
    <div id="influencer-gallery">
      <iframe id="influencer-video" width="300" height="246" src="http://www.youtube.com/embed/XGSy3_Czz8k">
      </iframe>
    </div>
  </div>
</div>

<div id="sidr">
  <!-- Your content -->
  <a href="#" class="close-menu">Cerrar <span class="icon-uniE603"></span></a>
  <div style="clear:both"></div>
  <ul>
    <li>
      <a id="login-btn" href="#" onclick="login()">PARTICIPA</a>
      <div id="dashboard">
        <table>
          <tr class="instagram-cell">
            <td><img /></td>
            <td colspan="2">
              <div id="user-name"></div>
              <div id="instagram-logout" onclick="logout()">Cerrar sesión</div>
            </td>
          </tr>
          <tr>
            <td class="user-cell">
              <div id="user-points"></div>
              <div>Puntos</div>
            </td>
            <td class="user-cell" onclick="showUserPictures()">
              <div id="user-photos"></div>
              <div>Fotos</div>
            </td>
            <td class="user-cell">
              <div id="user-invites"></div>
              <div>Invitaciones</div>
            </td>
          </tr>
        </table>
      </div>
      <div style="clear:both"></div>
    </li>
    <li><a class="selected" onclick="showAllRoutes()">Todas las rutas</a></li>
  </ul>
</div>

<div id="intro">
  <a class="mobile" onclick='launchApp()'>
    <img src="/assets/img-bkg-button.png" alt="Entrar a Guadalajara es tradicional">
  </a>
</div>

<div id="ruby-values" data-user="<%= @user.to_json%>"></div>