<header>
  <div class="header-mobile">
    <h1>#GDL<span>ES</span>TRADICIONAL</h1>
  </div>
  <nav>
    <ul class="routes">
      <li><a id="simple-menu" href="#sidr" style="visibility: hidden;"><span class="icon-uniE604"></span></a></li>
    </ul>
    <ul>
      <li><a id="simple-menu" href=""><span class="icon-uniE602"></span></a></li>
      <li><a id="simple-menu" href=""><span class="icon-uniE600"></span></a></li>
      <li><a id="simple-menu" href=""><span class="icon-uniE601"></span></a></li>
    </ul>
  </nav>
</header>
<div id="gallery" style="display: none;">
  <span class="close-gallery"><span class="icon-uniE603"></span></span>
  <div id="owl-example" class="owl-carousel"></div>
</div>
<div id="map_container">
  <div id="map-canvas"></div>
  <div id="influencer-picture" onclick="showInfluencerGallery()">
    <img src="" />
  </div>
  <div id="influencer-container" onclick="influencerGalleryClick(event)">
    <div id="influencer-gallery">
      <iframe id="influencer-video" width="420" height="345" src="http://www.youtube.com/embed/XGSy3_Czz8k">
      </iframe>
    </div>
  </div>
</div>

<div id="sidr">
  <!-- Your content -->
  <a href="#" class="close-menu">Cerrar <span class="icon-uniE603"></span></a>
  <div style="clear: both;"></div>
  <ul>
    <li><a class="selected" onclick="showAllRoutes()">Todas las rutas</a></li>
  </ul>
</div>
