<div id="map_container">
  <div id="show-all-routes" onclick="showAllRoutes()">MOSTRAR TODAS LAS RUTAS</div>
  <div id="map-canvas"></div>
  <div id="owl-example" class="owl-carousel" style="display: none;"></div>
  <div id="news-feed" style="display: none;">
    <div>HEADER</div>
    <div>PARTICIPA</div>
    <div>¿Qué dice GDL?</div>
    <div id="social">
      <!--<a class="twitter-timeline" href="https://twitter.com/hashtag/corgi" data-widget-id="500007154091180032"></a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>-->
    </div>
  </div>

</div>
