<header>
  <div class="header-mobile">
  </div>
  <nav>
    <ul class="routes">
      <li><a id="simple-menu" href="#sidr" style="visibility: hidden;"><span class="icon-uniE604"></span></a></li>
    </ul>
    <ul>
      <li><a href="http://instagram.com/jctradicional" target="_blank"><span class="icon-uniE602"></span></a></li>
      <li><a href="https://twitter.com/jctradicional" target="_blank"><span class="icon-uniE600"></span></a></li>
      <li><a href="https://www.facebook.com/jctradicional" target="_blank"><span class="icon-uniE601"></span></a></li>
    </ul>
  </nav>
</header>
<div id="gallery" style="display: none;">
  <span class="close-gallery"><span class="icon-uniE603"></span></span>
  <div id="slick-carousel"></div>
</div>
<div id="map_container">
  <div id="map-canvas"></div>
  <div id="influencer-picture" onclick="showInfluencerGallery()">
    <img src="/assets/icono_influencer.png" alt="Influencer" class="image-influencer" style="display: none;" >
    <img src="/assets/icono_ruta.png" alt="Ruta" class="image-route" style="display: none;">
  </div>
  <div id="influencer-container" onclick="influencerGalleryClick(event)">
    <div id="influencer-gallery">
      <div>
        <img src="/assets/icono_influencer.png" alt="Influencer" class="image-influencer" style="display: none;" >
        <img src="/assets/icono_ruta.png" alt="Ruta" class="image-route" style="display: none;">
        <h3 class="influencer-title"></h3>
        <p class="influencer-description"></p>
      </div>
      <iframe id="influencer-video" width="300" height="246" src="http://www.youtube.com/embed/XGSy3_Czz8k">
      </iframe>
    </div>
  </div>
</div>

<div id="sidr">
  <!-- Your content -->
  <a href="#" class="close-menu">Cerrar <span class="icon-uniE603"></span></a>
  <div style="clear:both"></div>
  <ul>
    <li>
      <a id="login-btn" href="#" onclick="login()">PARTICIPA</a>
      <div id="dashboard">
        <table>
          <tr class="instagram-cell">
            <td><img /></td>
            <td colspan="2">
              <div id="user-name"></div>
              <div id="instagram-logout" onclick="logout()">Cerrar sesión</div>
            </td>
          </tr>
          <tr>
            <td class="user-cell">
              <div id="user-points"></div>
              <div>Puntos</div>
            </td>
            <td class="user-cell" onclick="showUserPictures()">
              <div id="user-photos"></div>
              <div>Fotos</div>
            </td>
            <td class="user-cell"  onclick="showInviteModal()">
              <div id="user-invites"></div>
              <div>Invitaciones</div>
            </td>
          </tr>
        </table>
      </div>
      <div style="clear:both"></div>
    </li>
    <li><a class="selected" onclick="showAllRoutes()">Todas las rutas</a></li>
  </ul>
</div>

<div id="intro">
  <a class="mobile" onclick='launchApp()'>
    <img src="/assets/logo.png" alt="Entrar a Guadalajara es tradicional">
    <div class="enter">Comienza Aquí</div>
    <div class="clearfix"></div>
  </a>
</div>

<div id="invites" style="display: none;">
  <div class="message">
    <span class="close_modal" onclick="hideInviteModal()">x</span>
    <h3>Invita a tus amigos</h3>
    <div class="share-buttons">
      <a href="#" class="fb" onclick="shareFB()"><span class="icon-uniE601 icon"></span> Facebook</a>
      <a href="#" class="tw" target="_blank"><span class="icon-uniE600 icon"></span> Twitter</a>
    </div>
  </div>
</div>

<div id="mail-form" style="display: none;">
  <div class="message">
    <div class="mail-message">
      <h3>Ayúdanos a completar tu registro</h3>
      <form>
        <p>
          <label>Correo electrónico:</label>
          <%= email_field_tag :email, '', :required => true, :id => 'mail', :placehoder => 'example@mail.com' %>
          <span id="email-validation-field"></span>
        </p>
        <p>
          <button class="send-mail">Enviar</button>
        </p>
      </form>
      <p class="privacity">
        Lee nuestro <a href="#" title="Aviso de privacidad">aviso de privacidad</a>
      </p>
    </div>
    <div class="success-message" style="display: none;">
      <h3>Gracias, espere un momento y se le redirigirá a GDLesTradicional</h3>
    </div>
  </div>
</div>

<div id="instragram-invite" style="display: none;">
  <div class="message">
    <span class="close_modal" onclick="hideInstragramModal()">x</span>
    <div class="instragram-invite-message">
      <h3>Participa compartiendo fotos con el hashtag #GDLesTradicional desde Instagram</h3>
    </div>
  </div>
</div>

<div id="ruby-values" data-user="<%= @user.to_json%>"></div>
<div id="fb-root"></div>
