// Place all the styles related to the display controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

a.desktop {
  display: inline-block;
  left: 50%;
  top: 50%;
  margin-left: -250px;
  margin-top: -60px;
  position: absolute;

  img{
    cursor: pointer;
    width: 500px;
  }
}

#intro, #invites, #mail-form {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color:rgba(255,255,255,0.5); /*dim the background*/
}

#mail-form{
  background-color: rgba(0,0,0,0.5);

  .message{
    background-color: white;
    border: 3px solid #01BeC7;
    border-radius: 5px;
    height: 160px;
    left: 50%;
    margin-left: -225px;
    margin-top: -125px;
    padding: 1em;
    position: relative;
    text-align: center;
    top: 50%;
    width: 450px;

    h3{
      margin: 10px 0px 6px 0px;
      padding: 0px;
    }


    span{
      display: block;
    }

    #email-validation-field{
      height: 16px;
      color: red;
      text-align: center;
    }

    .privacity{
      font-size: 16px;
      text-align: right;
    }
  }
}

#invites{
  background-color: rgba(0,0,0,0.5);

  .message{
    background-color: white;
    border: 3px solid #01BeC7;
    border-radius: 5px;
    height: 120px;
    left: 50%;
    margin-left: -225px;
    margin-top: -125px;
    padding: 1em;
    position: relative;
    text-align: center;
    top: 50%;
    width: 450px;

    -webkit-box-shadow: 0px 0px 16px 0px rgba(50, 50, 50, 0.8);
    -moz-box-shadow:    0px 0px 16px 0px rgba(50, 50, 50, 0.8);
    box-shadow:         0px 0px 16px 0px rgba(50, 50, 50, 0.8);

    .close_modal{
      cursor: pointer;
      position: absolute;
      right: 10px;
      top: 5px;
    }

    h3{
      margin: 10px 0px 0px 0px;
      padding: 0px;
    }

    .share-buttons{
      margin-top: 2em;

      a{
        border-radius: 5px;
        color: white;
        display: inline-block;
        min-width: 75px;
        padding: 0.3em 1.2em 0.5em 0.6em;
        text-decoration: none;

        -webkit-box-shadow: 0px 0px 16px 0px rgba(50, 50, 50, 0.8);
        -moz-box-shadow:    0px 0px 16px 0px rgba(50, 50, 50, 0.8);
        box-shadow:         0px 0px 16px 0px rgba(50, 50, 50, 0.8);

        .icon{
          margin-right: 0.6em;
        }
      }

      .fb{
        background-color: #2b4170;
        border: 1px solid #2b4170;
        margin-right: 1em;

        background: -moz-linear-gradient(top, #3b5998, #2b4170);
        background: -ms-linear-gradient(top, #3b5998, #2b4170);
        background: -webkit-linear-gradient(top, #3b5998, #2b4170);
        ;
      }

      .tw{
        background-color: #3DB7E7;
        border: 1px solid #3DB7E7;

        background: -moz-linear-gradient(top, #4AC3EA, #3DB7E7);
        background: -ms-linear-gradient(top, #4AC3EA, #3DB7E7);
        background: -webkit-linear-gradient(top, #4AC3EA, #3DB7E7);
      }
    }
  }
}

#overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background-color: rgba(0,0,0,0.5); /*dim the background*/
}

#map-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#show-all-routes {
  background-color: white;
  position: absolute;
  top: 1em;
  right: 1em;
  z-index: 99;
}

#map-canvas {
  position: absolute;
  width: 100%;
  height: 100%;
}

.secondary-marker {

  img {
    width: 14px;
    height: 14px;
  }

}

.first-marker {
  cursor: pointer;
  display: inline-block;
  width: 120px;
  height: 70px;
  font-size: 20px;
  text-transform: uppercase;
  vertical-align: bottom;

  img {
    width: 40px;
    height: 70px;
  }

  .route-name {
    display: inline-block;
    padding-bottom: 10px;
    vertical-align: bottom;
  }
}

.image-marker {
  background-color: white;
  border: 1px solid white;
  border-radius: 5px;
  cursor: move;
  height: 80px;
  width: 80px;
  padding: 2px;
  -webkit-box-shadow: 0px 0px 16px 0px rgba(50, 50, 50, 0.8);
  -moz-box-shadow:    0px 0px 16px 0px rgba(50, 50, 50, 0.8);
  box-shadow:         0px 0px 16px 0px rgba(50, 50, 50, 0.8);

  img{
    width: 100%;
  }
}

#latest-pic-mobile {
  display: none;
  background-color: white;
  border: 1px solid white;
  border-radius: 5px;
	font-size: .8em;
  height: 120px;
  width: 95px;
  padding: 2px;
  -webkit-box-shadow: 0px 0px 16px 0px rgba(50, 50, 50, 0.8);
  -moz-box-shadow:    0px 0px 16px 0px rgba(50, 50, 50, 0.8);
  box-shadow:         0px 0px 16px 0px rgba(50, 50, 50, 0.8);

  img{
    width: 100%;
  }
	div{
		text-align: center;
	}
}

#latest-pic {
	display: none;
  background-color: white;
  border: 1px solid white;
  border-radius: 5px;
  height: 180px;
  width: 150px;
  padding: 2px;
  -webkit-box-shadow: 0px 0px 16px 0px rgba(50, 50, 50, 0.8);
  -moz-box-shadow:    0px 0px 16px 0px rgba(50, 50, 50, 0.8);
  box-shadow:         0px 0px 16px 0px rgba(50, 50, 50, 0.8);

  img{
    width: 100%;
  }
	div{
		text-align: center;
	}
}

#picture-gallery-container, #user-picture-gallery-container {
  display: none;
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  text-align: center;
  z-index: 101;
  background-color: rgba(0,0,0,0.5);
}

#picture-gallery-container:before, #user-picture-gallery-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  background-color: red;
}

#picture-gallery, #user-picture-gallery {
  display: inline-block;
  position:relative;
  background-color: #FFF;
  border: 6px solid #01BeC7;
  border-radius: 5px;
  height: 330px;
  width: 600px;
  vertical-align: middle;
  text-align: left;
  overflow: hidden;

  img {
    display: inline-block;
    position: relative;
    vertical-align: top;
    margin: 0px 8px;
    top: 14px;
    width: 290px;
    z-index: 1;
  }

  .post{
    position: relative;
    display: inline-block;
    vertical-align: top;
    top: 14px;
    height: 300px;
    max-height: 300px;
    overflow: hidden;
    width: 280px;
    z-index: 1;

    .post-author{
      color: #01BeC7;
      font-size: 24px;
      font-weight: bolder;
      height: 10px;
      display: block;
      padding: 1em;
    }

    .post-like {
      color: white;
      display: none;
      padding: 0em 1em 6px;
    }

    .hashtag{
      color: #7A9794;
    }

    .navigation {
      position: absolute;
      width: 100%;
      bottom: 20px;
      color: white;

      .arrow{
        display: inline-block;
        width: 47.5%;
        cursor: pointer;
      }

      .arrow-left{
        text-align: left;
      }

      .arrow-right{
        text-align: right;
      }
    }

    .bkg-opacity{
      background-color: #000000;
      height: 250px;
      left: 0px;
      opacity: 0.7;
      position: absolute;
      top: 0px;
      width: 100%;
      z-index: -1;
    }

    p{
      color: white;
      height: 160px;
      overflow: hidden;
      padding: 0em 1em 6px;
      margin: 0px 0px 1em;
    }
  }

  #panorama-overlay, #user-panorama-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
  }

  #panorama, #user-panorama {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
  }
}

#influencer-picture {
  cursor: move;
  display: none;
  position: absolute;
  top: 5%;
  left: 50%;

  width: 100px;
  height: 100px;
  margin-left: -50px;

  overflow: hidden;

  background-color: white;
  border: 2px solid white;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;

  -webkit-box-shadow: 0px 0px 16px 0px rgba(50, 50, 50, 0.8);
  -moz-box-shadow:    0px 0px 16px 0px rgba(50, 50, 50, 0.8);
  box-shadow:         0px 0px 16px 0px rgba(50, 50, 50, 0.8);

  img {
    width: 100%;
    height: 100%;
  }
}

#influencer-container {
  display: none;
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  text-align: center;
  z-index: 101;
  background-color: rgba(0,0,0,0.5);
}

#influencer-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  background-color: red;
}

#influencer-gallery {
  display: inline-block;
  position: relative;
  background-color: #FFF;
  border: 6px solid #01BeC7;
  border-radius: 5px;
  height: 345px;
  width: 420px;
  vertical-align: middle;
  text-align: left;
  overflow: hidden;

  #influencer-video {
    border: none;
  }
}

#news-feed {
  background-color: transparent;
  cursor: move;
  display: none;
  position: absolute;
  top: 5%;
  right: 5%;
  width: 280px;
  height: 80%;

  .social-networks-icons{
    display: inline-block;
    font-size: 18px;
    vertical-align: top;
    width: 8%;

    ul{
      list-style: none;
      margin: 0px 0px 0px 8px;
      padding: 0px;

      a{
        color: white;
        text-decoration: none;
      }

      li{
        margin-bottom: 0.6em;
      }
    }
  }

  .news-feed-canvas{
    background-color: white;
    display: inline-block;
    margin-right: 1%;
    vertical-align: top;
    width: 90%;
  }
}

#twitter-widget-0 {
  height: 100% !important;
}


#bottle {
  cursor: move;
  display: none;
  position: absolute;
  left: 2em;
  top: 10%;

  img{
    max-width: 150px;
    width: 100%;
  }
}

#dashboard {
  display: none;
  margin: 5px;

  .dashboard-element {
    display: inline-block;
    height: 75px;
    position: relative;
    vertical-align: middle;
    width: 160px;
  }

  #instagram-logout {
    cursor: pointer;
  }

  .dashboard-element-pic {
    display: inline-block;
    height: 70px;
    vertical-align: middle;
    width: 70px;
  }

  .dashboard-element-pic img {
    height: 100%;
    width: 100%;
  }

  .user-element {
    border: 1px solid black;
    cursor: pointer;
    display: inline-block;
    height: 50px;
    vertical-align: middle;
    text-align: center;
    width: 75px;
  }
}

/** marker animado **/

.tweet_marker{
  position: relative;
  z-index: 800;

  .tweet_marker_detail{
    background-color: white;
    border: 1px solid #002131;
    border-radius: 5px;
    bottom: 40px;
    left: -10px;
    padding: 1em;
    position: absolute;
    width: 170px;
    z-index: 100;

    p{
      margin: 0em 0em 0.5em;
      padding: 0px;
    }

    p.author{
      color: #00cae9;
      font-weight: bolder;
    }

    .arrow-down{
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid white;
      height: 0;
      position: absolute;
      bottom: -10px;
      width: 0;
    }

    .arrow-up{
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid white;
      height: 0;
      position: absolute;
      top: -10px;
      width: 0;
    }

    .close_tweet{
      cursor: pointer;
      position: absolute;
      right: 10px;
      top: 5px;
    }
  }

}

.pin {
  cursor: pointer;
  width: 30px;
  height: 20px;
  font-size: 20px;
}

.pulse {
  background: #00cae9;
  border-radius: 50%;
  height: 14px;
  width: 14px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: 11px 0px 0px -12px;
  transform: rotateX(55deg);
  z-index: -2;
}
.pulse:after {
  content: "";
  border-radius: 50%;
  height: 40px;
  width: 40px;
  position: absolute;
  margin: -13px 0 0 -13px;
  animation: pulsate 1s ease-out;
  animation-iteration-count: infinite;
  opacity: 0;
  box-shadow: 0 0 1px 2px #00cae9;
  animation-delay: 0.2s;
}

@keyframes pulsate {
  0% {
    transform: scale(0.1, 0.1);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: scale(1.2, 1.2);
    opacity: 0;
  }
}
