// Place all the styles related to the display controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  zoom: 0;
}

a.desktop {
  display: inline-block;
  cursor: pointer;
  left: 50%;
  top: 50%;
  margin-left: -250px;
  margin-top: -60px;
  position: absolute;

  img{
    width: 500px;
  }
}

#intro, #invites, #mail-form, #instragram-invite, #terms-privacity{
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 101;
  background-color:rgba(0,0,0,0.3); /*dim the background*/
}

#intro{
  img{
    display: block;
  }
  .enter{
    background-color: #033060;
    color: white;
    float: right;
    font-size: 16px;
    padding: 10px 30px;
    text-align: center;
    text-transform: uppercase;
    width: 200px;
  }
}

#terms-privacity{
  background-color: rgba(0,0,0,0.5);

  .message{

    border: 3px solid #A6A7AA;
    border-radius: 5px;
    color: white;
    height: 80%;
    left: 10%;
    padding: 1em;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    top: 7%;
    overflow: scroll;
    width: 80%;

    background: -moz-linear-gradient(-45deg,  #031c3c 1%, #002d61 34%, #022c5e 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(1%,#031c3c), color-stop(34%,#002d61), color-stop(100%,#022c5e)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  #031c3c 1%,#002d61 34%,#022c5e 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  #031c3c 1%,#002d61 34%,#022c5e 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  #031c3c 1%,#002d61 34%,#022c5e 100%); /* IE10+ */
    background: linear-gradient(135deg,  #031c3c 1%,#002d61 34%,#022c5e 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#031c3c', endColorstr='#022c5e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    h3{
      border-bottom: 1px solid #A6A7AA;
      color: white;
      font-size: 16px;
      font-weight: 400;
      margin: 10px 0px 6px 0px;
      padding: 0px;
    }

    p, ul, ol{
      font-size: 12px;
      font-weight: 300;
      text-align: left;

      a{
        color: white;
        cursor: pointer;
      }
    }

    .close_modal{
      color: #A6A7AA;
      cursor: pointer;
      position: absolute;
      right: 10px;
      top: 5px;
    }
  }

}

#instragram-invite{
  background-color: rgba(0,0,0,0.5);

  .message{

    border: 3px solid #A6A7AA;
    border-radius: 5px;
    color: white;
    height: 80px;
    left: 50%;
    margin-left: -225px;
    margin-top: -125px;
    padding: 1em;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    top: 50%;
    width: 450px;

    background: -moz-linear-gradient(-45deg,  #031c3c 1%, #002d61 34%, #022c5e 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(1%,#031c3c), color-stop(34%,#002d61), color-stop(100%,#022c5e)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  #031c3c 1%,#002d61 34%,#022c5e 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  #031c3c 1%,#002d61 34%,#022c5e 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  #031c3c 1%,#002d61 34%,#022c5e 100%); /* IE10+ */
    background: linear-gradient(135deg,  #031c3c 1%,#002d61 34%,#022c5e 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#031c3c', endColorstr='#022c5e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    h3{
      color: white;
      font-size: 16px;
      font-weight: 400;
      margin: 10px 0px 6px 0px;
      padding: 0px;
    }

    .close_modal{
      color: #A6A7AA;
      cursor: pointer;
      position: absolute;
      right: 10px;
      top: 5px;
    }
  }
}

#mail-form{
  background-color: rgba(0,0,0,0.5);

  .message{

    border: 3px solid #A6A7AA;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    height: 160px;
    left: 50%;
    margin-left: -225px;
    margin-top: -125px;
    padding: 1em;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    top: 50%;
    width: 450px;

    background: -moz-linear-gradient(-45deg,  #031c3c 1%, #002d61 34%, #022c5e 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(1%,#031c3c), color-stop(34%,#002d61), color-stop(100%,#022c5e)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  #031c3c 1%,#002d61 34%,#022c5e 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  #031c3c 1%,#002d61 34%,#022c5e 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  #031c3c 1%,#002d61 34%,#022c5e 100%); /* IE10+ */
    background: linear-gradient(135deg,  #031c3c 1%,#002d61 34%,#022c5e 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#031c3c', endColorstr='#022c5e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    dl{
      font-size: 12px;
      text-align: left;
    }

    h3{
      border-bottom: 1px solid #A6A7AA;
      color: white;
      font-size: 16px;
      font-weight: 400;
      margin: 10px 0px 6px 0px;
      padding: 0px 0px 6px;
    }


    span{
      display: block;
    }

    #email-validation-field{
      height: 16px;
      color: red;
      text-align: center;
    }

    .privacity{
      font-size: 12px;
      text-align: right;
    }
  }
}

#invites{
  background-color: rgba(0,0,0,0.5);

  .message{

    border: 3px solid #A6A7AA;
    border-radius: 5px;
    color: white;
    height: 120px;
    left: 50%;
    margin-left: -225px;
    margin-top: -125px;
    padding: 1em;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    top: 50%;
    width: 450px;

    background: -moz-linear-gradient(-45deg,  #031c3c 1%, #002d61 34%, #022c5e 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(1%,#031c3c), color-stop(34%,#002d61), color-stop(100%,#022c5e)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  #031c3c 1%,#002d61 34%,#022c5e 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  #031c3c 1%,#002d61 34%,#022c5e 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  #031c3c 1%,#002d61 34%,#022c5e 100%); /* IE10+ */
    background: linear-gradient(135deg,  #031c3c 1%,#002d61 34%,#022c5e 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#031c3c', endColorstr='#022c5e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    -webkit-box-shadow: 0px 0px 16px 0px rgba(50, 50, 50, 0.8);
    -moz-box-shadow:    0px 0px 16px 0px rgba(50, 50, 50, 0.8);
    box-shadow:         0px 0px 16px 0px rgba(50, 50, 50, 0.8);

    .close_modal{
      color: #A6A7AA;
      cursor: pointer;
      position: absolute;
      right: 10px;
      top: 5px;
    }

    h3{
      border-bottom: 1px solid #A6A7AA;
      color: white;
      font-size: 16px;
      font-weight: 400;
      margin: 10px 0px 6px 0px;
      padding: 0px 0px 6px;
    }

    .share-buttons{
      margin-top: 2em;

      a{
        border-radius: 5px;
        color: white;
        display: inline-block;
        min-width: 75px;
        padding: 0.3em 1.2em 0.5em 0.6em;
        text-decoration: none;

        -webkit-box-shadow: 0px 0px 16px 0px rgba(50, 50, 50, 0.8);
        -moz-box-shadow:    0px 0px 16px 0px rgba(50, 50, 50, 0.8);
        box-shadow:         0px 0px 16px 0px rgba(50, 50, 50, 0.8);

        .icon{
          margin-right: 0.6em;
        }
      }

      .fb{
        background-color: #2b4170;
        border: 1px solid #2b4170;
        margin-right: 1em;

        background: -moz-linear-gradient(top, #3b5998, #2b4170);
        background: -ms-linear-gradient(top, #3b5998, #2b4170);
        background: -webkit-linear-gradient(top, #3b5998, #2b4170);
        ;
      }

      .tw{
        background-color: #3DB7E7;
        border: 1px solid #3DB7E7;

        background: -moz-linear-gradient(top, #4AC3EA, #3DB7E7);
        background: -ms-linear-gradient(top, #4AC3EA, #3DB7E7);
        background: -webkit-linear-gradient(top, #4AC3EA, #3DB7E7);
      }
    }
  }
}

#overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background-color: rgba(0,0,0,0.5); /*dim the background*/
}

#map_container {
  height: 100%;
}

#map-canvas {
  position: absolute;
  height: 100%;
  width: 100%;
}

.marker{
  position: relative;
  z-index: 800;

  .marker_detail{
    display:none;
    border: 1px solid #A6A7AA;
    border-radius: 5px;
    color: white;
    padding: 1em;
    position: absolute;
    width: 170px;
    z-index: 100;

    background: -moz-linear-gradient(-45deg,  #031c3c 1%, #002d61 34%, #022c5e 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(1%,#031c3c), color-stop(34%,#002d61), color-stop(100%,#022c5e)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  #031c3c 1%,#002d61 34%,#022c5e 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  #031c3c 1%,#002d61 34%,#022c5e 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  #031c3c 1%,#002d61 34%,#022c5e 100%); /* IE10+ */
    background: linear-gradient(135deg,  #031c3c 1%,#002d61 34%,#022c5e 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#031c3c', endColorstr='#022c5e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    -webkit-box-shadow: 0px 0px 16px 0px rgba(50, 50, 50, 0.8);
    -moz-box-shadow:    0px 0px 16px 0px rgba(50, 50, 50, 0.8);
    box-shadow:         0px 0px 16px 0px rgba(50, 50, 50, 0.8);

    .close_tweet{
      float: right;
    }

    p{
      margin: 0em 0em 0.5em;
      padding: 0px;
    }

    .image-marker-galllery-link{
      display: block;
      text-align: center;
      width: 100%;
    }

    .link{
      text-decoration: underline;
    }

    .image-marker-gallery-wrapper{
      display: block;
      height: 100px;
      margin: 0px auto 1em;
      text-align: center;
      width: 100px;

      .image-marker-gallery{
        height: 100%;
        width: 100%;
      }
    }


    .arrow-down{
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid #033060;
      height: 0;
      position: absolute;
      bottom: -10px;
      width: 0;
    }

    .arrow-down.inverted {
      right: 10px;
    }

    .arrow-up{
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid #033060;
      height: 0;
      position: absolute;
      top: -10px;
      width: 0;
    }
  }

}

.first-marker {
  cursor: pointer;
  display: inline-block;
  width: 40px;
  height: 70px;
  vertical-align: bottom;

  .marker_detail{
    left: -4px;
    bottom: 80px;
  }

  .marker_detail.inverted{
    left: -4px;
    top: 80px;
  }

  .marker_detail.horizontal-inverted{
    left: -154px;
  }

  img {
    width: 40px;
    height: 70px;
  }

  .route-name {
    color: white;
    display: none;
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 10px;
    vertical-align: bottom;
    text-transform: uppercase;
    width: 200px;
  }

  .vote {
    box-sizing: border-box;
    left: 10px;
    position: absolute;
    top: -25px;
    width: 26px;
    height: 26px;

    img {
      width: 100%;
    }

  }
}

.secondary-marker {

  .marker_detail{
    left: -15px;
    bottom: 28px;
  }

  .marker_detail.inverted{
    left: -15px;
    top: 28px;
  }

  .marker_detail.horizontal-inverted{
    left: -166px;
  }

  img {
    width: 14px;
    height: 14px;
  }

}

.image-marker {
  background-color: white;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
  height: 60px;
  width: 60px;
  padding: 2px;
  -webkit-box-shadow: 0px 0px 16px 0px rgba(50, 50, 50, 0.8);
  -moz-box-shadow:    0px 0px 16px 0px rgba(50, 50, 50, 0.8);
  box-shadow:         0px 0px 16px 0px rgba(50, 50, 50, 0.8);

  img{
    width: 100%;
  }
}

#latest-pic-mobile {
  display: none;
  background-color: white;
  border: 1px solid white;
  border-radius: 5px;
  font-size: .8em;
  height: 120px;
  width: 95px;
  padding: 2px;
  -webkit-box-shadow: 0px 0px 16px 0px rgba(50, 50, 50, 0.8);
  -moz-box-shadow:    0px 0px 16px 0px rgba(50, 50, 50, 0.8);
  box-shadow:         0px 0px 16px 0px rgba(50, 50, 50, 0.8);

  img{
    width: 100%;
  }
	div{
		text-align: center;
	}
}

#latest-pic {
  display: none;
  background-color: #A6A7AA;
  border: 2px solid #033060;
  height: 195px;
  width: 180px;
  padding: 2px;
  text-align: center;

  -webkit-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.31);
  -moz-box-shadow:    2px 2px 5px 0px rgba(50, 50, 50, 0.31);
  box-shadow:         2px 2px 5px 0px rgba(50, 50, 50, 0.31);

  img{
    max-width: 150px;
    margin: 6px 0px 3px;
    width: 100%;
  }

  div{
      text-align: center;
  }
}

#jc-gallery-thumbs-container, #jc-gallery-container, #picture-gallery-container, #user-picture-gallery-container, #help-gallery-container, #vote-message-container {
  display: none;
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  text-align: center;
  z-index: 101;
  background-color: rgba(0,0,0,0.5);
}

#jc-gallery-thumbs-container:before, #jc-gallery-container:before, #picture-gallery-container:before, #user-picture-gallery-container:before, #help-gallery-container:before, #vote-message-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  background-color: red;
}

#jc-gallery, #picture-gallery, #user-picture-gallery, #vote-message {
  display: inline-block;
  position:relative;
  background-color: #FFF;
  border: 6px solid #033060;
  border-radius: 5px;
  height: 330px;
  width: 600px;
  vertical-align: middle;
  text-align: left;
  overflow: hidden;

  img {
    display: inline-block;
    position: relative;
    vertical-align: top;
    margin: 0px 8px;
    top: 14px;
    width: 290px;
    z-index: 1;
  }

  .post{
    position: relative;
    display: inline-block;
    vertical-align: top;
    top: 14px;
    height: 300px;
    max-height: 300px;
    overflow: hidden;
    width: 280px;
    z-index: 1;

    .post-author{
      color: #A6A7AA;
      font-size: 24px;
      font-weight: bolder;
      height: 10px;
      display: block;
      padding: 1em 1em 1em 0.6em;
    }

    .post-like {
      color: white;
      display: block;
      padding: 0em 1em 6px;
      text-align: right;
      visibility: hidden;

      a{
        text-decoration: none;
      }

      .liked{
        color: red;
      }

      .unliked{
        color: #A6A7AA;
        cursor: pointer;
      }

    }

    .hashtag{
      color: #7A9794;
    }

    .navigation {
      position: absolute;
      width: 100%;
      bottom: 20px;
      color: white;

      .arrow{
        display: inline-block;
        width: 47.5%;
        cursor: pointer;
      }

      .arrow-left{
        text-align: left;
      }

      .arrow-right{
        text-align: right;
      }
    }

    .bkg-opacity{
      background-color: #000000;
      height: 250px;
      left: 0px;
      opacity: 0.7;
      position: absolute;
      top: 0px;
      width: 100%;
      z-index: -1;
    }

    p{
      color: white;
      font-size: 14px;
      font-weight: 300;
      height: 160px;
      overflow: hidden;
      padding: 0em 1em 6px;
      margin: 0px;

      a, a:hover, a.selected{
        color: white;
      }
    }
  }

  #jc-panorama-overlay, #panorama-overlay, #user-panorama-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
  }

  #jc-panorama, #panorama, #user-panorama {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
  }
}

#jc-gallery {
  .post {
    .post-author{
      color: #A6A7AA;
      font-size: 20px;
    }

    .bkg-opacity {
      height: 218px;
    }
  }
}

#help-gallery{
  display: inline-block;
  position:relative;
  background-color: #A6A7AA;
  width: 700px;
  vertical-align: middle;
  text-align: left;
  overflow: hidden;

  #help-slick-carousel img {
    display: inline-block;
    position: relative;
    vertical-align: top;
    width: 700px;
    z-index: 1;
  }

  .slick-dots {
    background-color: #A6A7AA;
    font-size: 30px;
  }
}

#jc-gallery-thumbs-container {
  .jc-gallery-title {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 15px;
    font-size: 18px;
    font-weight: bold;
  }

  #jc-gallery-thumbs {
    display: inline-block;
    position: relative;
    color: #FFF;
    border: 6px solid #A6A7AA;
    border-radius: 5px;
    height: 450px;
    width: 598px;
    vertical-align: middle;
    text-align: left;
    overflow: auto;

    background: -moz-linear-gradient(-45deg,  #031c3c 1%, #002d61 34%, #022c5e 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(1%,#031c3c), color-stop(34%,#002d61), color-stop(100%,#022c5e)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  #031c3c 1%,#002d61 34%,#022c5e 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  #031c3c 1%,#002d61 34%,#022c5e 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  #031c3c 1%,#002d61 34%,#022c5e 100%); /* IE10+ */
    background: linear-gradient(135deg,  #031c3c 1%,#002d61 34%,#022c5e 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#031c3c', endColorstr='#022c5e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    .gallery-row {
      display: inline-block;
      width: 100%;

      .gallery-cell {
        display: inline-block;
        float: left;
        padding-top: 22px;
        padding-left: 22px;
        width: 170px;

        .jc-gallery-name {
          text-align: center;
        }

        img {
          display: block;
          width: 170px;
          height: 127px;
          cursor: pointer;
          border: 3px solid #A6A7AA;
          border-radius: 3px;
        }
      }
    }
  }
}

#influencer-picture {
  bottom: 3.6em;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  right: 3em;
  text-align: center;
  width: 150px;
  height: 140px;

  .influencer-picture-title{

    img{
      max-width: 150px;
      width: 100%
    }
  }

  .influencer-images{
    background-color: white;
    border: 2px solid white;
    border-radius: 50px;
    display: inline-block;
    height: 100px;
    overflow: hidden;
    width: 100px;

    -webkit-box-shadow: 0px 0px 16px 0px rgba(50, 50, 50, 0.8);
    -moz-box-shadow:    0px 0px 16px 0px rgba(50, 50, 50, 0.8);
    box-shadow:         0px 0px 16px 0px rgba(50, 50, 50, 0.8);

    .image-influencer, .image-route{
      width: 100%;
      height: 100%;
    }
  }

}

#influencer-container {
  display: none;
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  text-align: center;
  z-index: 101;
  background-color: rgba(0,0,0,0.5);
}

#influencer-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  background-color: red;
}

#influencer-gallery {
  box-sizing: content-box;
  color: white;
  display: inline-block;
  padding: 1em;
  position: relative;
  background-color: #033060;
  border: 6px solid #A6A7AA;
  border-radius: 5px;
  width: 600px;
  vertical-align: middle;
  text-align: left;
  overflow: hidden;

  img{
    display: inline-block;
    width: 50px;
  }

  h3{
    display: inline-block;
    font-size: 16px;
    margin: 1em 0px 0px 1em;
    vertical-align: top;
  }

  p{
    font-size: 12px;
    font-weight: 300;
  }

  #influencer-video {
    border: none;
    display: block;
    margin: 0px auto;
  }
}

.social-networks-icons{
  position: fixed;
  display: inline-block;
  font-size: 18px;
  right: 30px;
  top: 20px;
  vertical-align: top;
  width: 40px;

  ul{
    list-style: none;
    margin: 0px 0px 0px 8px;
    padding: 0px;

    a{
      color: white;
      text-decoration: none;
      cursor: pointer;
    }

    a.cuervo{
      font-size: 22px;
    }

    li{
      margin-bottom: 0.6em;
    }
  }
}

.nav{
  background: transparent;
  font-size: 0px;
  position: fixed;
  top: 16px;
  right: 70px;
  width: 250px;
  z-index: 90;

  .promo{
    margin-right: 3px;
    float: right;
    width: 250px;

    background: -moz-linear-gradient(-45deg,  #031c3c 1%, #002d61 34%, #022c5e 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(1%,#031c3c), color-stop(34%,#002d61), color-stop(100%,#022c5e)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  #031c3c 1%,#002d61 34%,#022c5e 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  #031c3c 1%,#002d61 34%,#022c5e 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  #031c3c 1%,#002d61 34%,#022c5e 100%); /* IE10+ */
    background: linear-gradient(135deg,  #031c3c 1%,#002d61 34%,#022c5e 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#031c3c', endColorstr='#022c5e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    a.button{
      border-bottom: 1px solid #A6A7AA;
      color: #A6A7AA;
      display: block;
      font-size: 16px;
      margin: 0px auto;
      padding: 0.8em 0.5em 0.9em;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
    }

    a.button:last-child{
      border-bottom: 1px solid #A6A7AA;
      margin-bottom: 16px;
    }

    .tribute{
      font-size: 20px;
      font-weight: 700;
      text-align: center !important;

      span{
        display: inline-block;
        margin-left: 5%;
        vertical-align: top;
      }

      .icono-video {
        font-size: 19px;
        margin-left: -5px;
      }

      img{
        display: inline-block;
        max-width: 50px;
        vertical-align: top;
        width: 30%;
      }
    }
  }

  .news-feed-header{
    position: relative;
    right: 150px;
    width: 400px;

    img.logo-gdl-tradicional{
      max-width: 350px;
      width: 100%;
    }

    img.logo-cuervo{
      max-width: 47px;
      width: 100%;
    }
  }

  .icon-list{
    font-size: 0px;
    float: right;
    margin-right: 3px;
    width: 250px;

    ul{
      background-color: #033060;
      margin: 0px;
      padding: 0px;

      li{
        box-sizing: border-box;
        font-size: 20px;
        display: inline-block;
        margin: 0px;
        padding: 0px;
        text-align: center;
        vertical-align: top;
        width: 83px;

        a{
          color: white;
          cursor: pointer;
          display: inline-block;
          padding: 0.8em 0em;
          width: 100%;
        }

        a:hover{
          background-color: #023974;
        }

        a.selected{
          background-color: #021B3B;
        }
      }
    }
  }

  .nav-container{
    background: #031c3c; /* Old browsers */
    box-sizing: border-box;
    float: right;
    margin-right: 3px;
    padding: 0px;
    position: relative;
    width: 250px;

    background: -moz-linear-gradient(-45deg,  #031c3c 1%, #002d61 34%, #022c5e 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(1%,#031c3c), color-stop(34%,#002d61), color-stop(100%,#022c5e)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  #031c3c 1%,#002d61 34%,#022c5e 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  #031c3c 1%,#002d61 34%,#022c5e 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  #031c3c 1%,#002d61 34%,#022c5e 100%); /* IE10+ */
    background: linear-gradient(135deg,  #031c3c 1%,#002d61 34%,#022c5e 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#031c3c', endColorstr='#022c5e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    a.button{
      border-bottom: 1px solid #A6A7AA;
      border-top: 1px solid #A6A7AA;
      color: #A6A7AA;
      display: block;
      font-size: 14px;
      margin: 16px auto 0px;
      padding: 0.8em 0.5em 0.9em;
      text-align: left;
      text-decoration: none;
      width: 80%;
    }

    a.button:last-child{
      border-bottom: 1px solid #A6A7AA;
      margin-bottom: 16px;
    }

    .loader{
      border-radius: 5px;
      height: 60px;
      margin: 16px;
      position: relative;

      span{
        color: #A6A7AA;
        display: block;
        font-size: 10px;
        margin-top: 8px;
        text-align: center;
      }

      img{
        display: block;
        margin: 0px auto;
      }
    }

    #dashboard {
      background-color: white;
      border-radius: 5px;
      display: none;
      padding: 0px;
      margin: 10px;

      table{
        border-collapse: separate;
        border-spacing: 6px;
        width: 100%;

        td{
          box-sizing: border-box;
          width: 30%;
        }
      }


      .dashboard-element {
        height: 75px;
        padding-left: 6px;
        vertical-align: middle;

        #user-name{
          color: #033060;
          font-size: 16px;
          font-weight: 700;
        }

        #instagram-logout {
          cursor: pointer;
          font-size: 12px;
          font-weight: 300;
          margin-top: 2.5px;
          text-decoration: underline;
        }

      }

      .dashboard-element-pic {
        height: 70px;
        vertical-align: middle;
      }

      .dashboard-element-pic img {
        display: block;
        height: 100%;
      }

      .user-element:first-child{
        cursor: default;
      }

      .user-element {
        border: 1px solid #A6A7AA;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        height: 50px;
        vertical-align: middle;
        text-align: center;

        .icon{
          color: #033060;
          display: inline-block;
          margin-top: 4px;
        }

        .icon-name{
          font-size: 10px;
          margin-bottom: 4px;
        }
      }


    }

    #news-feed {
      background: transparent;
      box-sizing: border-box;
      display: none;
      font-size: 0px;
      padding: 10px;
      height: 80%;
      width: 100%;
    }
  }

}

.clearfix{
  clear: both;
}


#twitter-widget-0 {
  height: 100% !important;
}


#bottle {
  bottom: 0;
  display: none;
  position: absolute;
  left: -40px;
  width: 22%;

  img{
    max-width: 300px;
    width: 100%;
  }
}



/** marker animado **/

.tweet_marker{
  position: relative;
  z-index: 800;

  .tweet_marker_detail{
    border: 1px solid #A6A7AA;
    border-radius: 5px;
    bottom: 40px;
    color: white;
    left: -10px;
    padding: 1em;
    position: absolute;
    width: 170px;
    z-index: 100;

    background: -moz-linear-gradient(-45deg,  #031c3c 1%, #002d61 34%, #022c5e 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(1%,#031c3c), color-stop(34%,#002d61), color-stop(100%,#022c5e)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  #031c3c 1%,#002d61 34%,#022c5e 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  #031c3c 1%,#002d61 34%,#022c5e 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  #031c3c 1%,#002d61 34%,#022c5e 100%); /* IE10+ */
    background: linear-gradient(135deg,  #031c3c 1%,#002d61 34%,#022c5e 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#031c3c', endColorstr='#022c5e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    -webkit-box-shadow: 0px 0px 16px 0px rgba(50, 50, 50, 0.8);
    -moz-box-shadow:    0px 0px 16px 0px rgba(50, 50, 50, 0.8);
    box-shadow:         0px 0px 16px 0px rgba(50, 50, 50, 0.8);

    p{
      margin: 0em 0em 0.5em;
      padding: 0px;
    }

    p.author{
      font-weight: 700;
    }

    .arrow-down{
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid #033060;
      height: 0;
      position: absolute;
      bottom: -10px;
      width: 0;
    }

    .arrow-up{
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid #033060;
      height: 0;
      position: absolute;
      top: -10px;
      width: 0;
    }

    .close_tweet{
      cursor: pointer;
      position: absolute;
      right: 10px;
      top: 5px;
    }
  }

}

.pin {
  color: black;
  cursor: pointer;
  width: 30px;
  height: 20px;
  font-size: 20px;
}

.pin-special{
  color: #B3B3B3;
  cursor: pointer;
  width: 30px;
  height: 20px;
  font-size: 20px;
}

.pulse-featured{
  background: transparent url('/assets/estrella.png') top left no-repeat;
  border-radius: 50%;
  height: 14px;
  width: 14px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: 11px 0px 0px -12px;
  transform: rotateX(55deg);
  z-index: -2;
}

.pulse-featured:after{
  content: "";
  border-radius: 50%;
  height: 40px;
  width: 40px;
  position: absolute;
  margin: -13px 0 0 -13px;
  animation: pulsate 1s ease-out;
  animation-iteration-count: infinite;
  opacity: 0;
  box-shadow: 0 0 1px 2px yellow;
  animation-delay: 0.2s;
}

.pulse {
  background: #00cae9;
  border-radius: 50%;
  height: 14px;
  width: 14px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: 11px 0px 0px -12px;
  transform: rotateX(55deg);
  z-index: -2;
}


.pulse:after {
  content: "";
  border-radius: 50%;
  height: 40px;
  width: 40px;
  position: absolute;
  margin: -13px 0 0 -13px;
  animation: pulsate 1s ease-out;
  animation-iteration-count: infinite;
  opacity: 0;
  box-shadow: 0 0 1px 2px #00cae9;
  animation-delay: 0.2s;
}

.zoom-image{
  bottom: 1.4em;
  position: fixed;
  right: 3em;
  width: 70px;
  z-index: 99;

  img{
    width: 100%;
  }
}

#show-all-routes {
  bottom: 1.4em;
  cursor: pointer;
  position: fixed;
  right: 8em;
  width: 102px;
  z-index: 99;

  .icon{
    font-size: 16px;
  }

  img{
    width: 100%;
  }
}

.footer{
  bottom: 0px;
  color: white;
  font-size: 10px;
  display: inline-block;
  left: 190px;
  padding: 1.5em 0em;
  position: fixed;
  width: 600px;
  z-index: 1;

  a{
    color: white;
    cursor: pointer;
    text-decoration: none;
  }
}

.helpButton{
  top: 160px;
  position: absolute;
  right: 100px;
  z-index: 99;

  img{
    max-width: 200px;
  }
}

.homenajeContainer {
  display: none;
  position: absolute;
  padding-top: 70px;
  top:0;
  bottom:0;
  left:0;
  right:0;
  text-align: center;
  z-index: 101;
  background-color: rgba(0,0,0,0.5);

  .close_homenaje {
    color: #A6A7AA;
    cursor: pointer;
    float: right;
    font-size: 22px;
    margin-top: -7px;
  }
}

.lightMessage {
  padding: 0em 0em 1em;
  position: absolute;
  left: 10px;
  top: 20px;
}

.vote-message-button {
  cursor: pointer;
  position: absolute;
  right: 10px;
  bottom: 20px;
}

#vote-message {
  background-color: #093E6B;
  border: none;
  border-radius: 0px;
  box-sizing: border-box;
  color: #FFF;
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  height: 330px;
  overflow: hidden;
  padding: 40px;
  position: relative;
  text-align: left;
  text-transform: uppercase;
  vertical-align: middle;
  width: 600px;

  h1 {
    font-size: 30px;
    margin: 0;
  }

  .gray-color {
    color: #969A9B;
  }

  #vote-step-1 {

    .left {
      display: inline-block;
      vertical-align: top;
      width: 370px;
    }

    .right {
      display: inline-block;
      vertical-align: top;
      width: 100px;

      .heart {
        border: 8px solid #FFFFFF;
        border-radius: 70px;
        box-sizing: border-box;
        font-size: 94px;
        height: 140px;
        padding-left: 16px;
        padding-top: 20px;
        width: 140px;
      }
    }

    .btn-votar {
      color: #022c5e;
      background-color: #FFF;
      cursor: pointer;
      font-size: 32px;
      font-weight: 700;
      margin: 0 auto;
      margin-top: 10px;
      padding: 5px;
      text-align: center;
      width: 260px;
    }
  }

  #vote-step-2 {
    line-height: 25px;
    font-size: 13px;

    .titulo {
      font-size: 20px;
      text-align: center;
      line-height: 0px;
    }

    .textfield {
      margin-left: 5px;
    }

    .left {
      display: inline-block;
      vertical-align: middle; 
      width: 50%;
      font-size: 9px;
      line-height: 17px;
      margin-top: 15px;
    }

    .right {
      display: inline-block;
      vertical-align: middle; 
      width: 48%;
      text-align: center;
      margin-top: 15px;
      cursor: pointer;
    }

    .heart {
        border: 3px solid #FFFFFF;
        border-radius: 20px;
        box-sizing: border-box;
        font-size: 27px;
        height: 40px;
        padding-top: 5px;
        padding-right: 1px;
        width: 40px;
        display: inline-block;
        vertical-align: middle;
      }

    .btn-votar {
      color: #ffffff;
      font-size: 16px;
      display: inline-block;
      vertical-align: middle;
      margin-left: 5px;
    }

    #name {
      width: 33em;
    }

    #email {
      width: 26em;
    }

    #answer {
      width: 38em;
      height: 7em;
    }

    #subscribe {
      margin-right: 5px;
      vertical-align: top;
    }
  }

  #vote-step-3 {
    font-size: 30px;
    text-align: center;
    margin: 50px 0;
  }
}

.touchMarkerMessage{
  color: white;
  font-size: 0.8em;
  padding: 0em 0em 1em;
  position: absolute;
  left: 10px;
  top: 20px;
  max-width: 450px;

  background: -moz-linear-gradient(-45deg,  #031c3c 1%, #002d61 34%, #022c5e 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(1%,#031c3c), color-stop(34%,#002d61), color-stop(100%,#022c5e)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg,  #031c3c 1%,#002d61 34%,#022c5e 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg,  #031c3c 1%,#002d61 34%,#022c5e 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg,  #031c3c 1%,#002d61 34%,#022c5e 100%); /* IE10+ */
  background: linear-gradient(135deg,  #031c3c 1%,#002d61 34%,#022c5e 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#031c3c', endColorstr='#022c5e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  -webkit-box-shadow: 0px 0px 16px 0px rgba(50, 50, 50, 0.8);
  -moz-box-shadow:    0px 0px 16px 0px rgba(50, 50, 50, 0.8);
  box-shadow:         0px 0px 16px 0px rgba(50, 50, 50, 0.8);

  p{
    margin: 0px 0.6em 0px 1em;
  }

  .close_marker_message{
    color: #A6A7AA;
    cursor: pointer;
    float: right;
    margin: 0.4em 0.8em 0;
  }
}

@keyframes pulsate {
  0% {
    transform: scale(0.1, 0.1);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: scale(1.2, 1.2);
    opacity: 0;
  }
}

.tweet_light-1{
  animation: glowing 0.5s ease-out;
  animation-iteration-count: infinite;
  animation-delay: 0.2s;
  opacity: 1;
}

.tweet_light-2{
  animation: glowing 0.5s ease-out;
  animation-iteration-count: infinite;
  animation-delay: 0.4s;
  opacity: 1;
}

.tweet_light-3{
  animation: glowing 0.5s ease-out;
  animation-iteration-count: infinite;
  animation-delay: 0.6s;
  opacity: 1;
}

.tweet_light-4{
  animation: glowing 0.5s ease-out;
  animation-iteration-count: infinite;
  animation-delay: 0.8s;
  opacity: 1;
}

.tweet_light-5{
  animation: glowing 0.5s ease-out;
  animation-iteration-count: infinite;
  animation-delay: 1s;
  opacity: 1;
}

@keyframes glowing{
  0%{
    opacity: 1;
  }

  50%{
    opacity: 0.5;
  }

  100%{
    opacity: 1;
  }
}
