@font-face {
	font-family: 'icomoon';
	src:url('/assets/icomoon.eot?y3jric');
	src:url('/assets/icomoon.eot?#iefixy3jric') format('embedded-opentype'),
		url('/assets/icomoon.woff?y3jric') format('woff'),
		url('/assets/icomoon.ttf?y3jric') format('truetype'),
		url('/assets/icomoon.svg?y3jric#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-youtube:before {
	content: "\e614";
}
.icon-images:before {
	content: "\e603";
}
.icon-web:before {
	content: "\e604";
}
.icon-share:before {
	content: "\e605";
}
.icon-profile:before {
	content: "\e606";
}
.icon-no-like:before {
	content: "\e607";
}
.icon-like:before {
	content: "\e608";
}
.icon-location:before {
	content: "\e609";
}
.icon-menu:before {
	content: "\e60a";
}
.icon-twitter:before {
	content: "\e60b";
}
.icon-facebook:before {
	content: "\e60c";
}
.icon-instagram:before {
	content: "\e60d";
}
.icon-download:before {
	content: "\f019";
}
.icon-instagram-login:before {
	content: "\e600";
}
.icon-picture:before {
	content: "\e601";
}
.icon-mail:before {
	content: "\e602";
}
.icon-notification:before {
	content: "\e611";
}
.icon-help:before {
	content: "\e612";
}
.icon-back:before {
	content: "\e613";
}
