@font-face {
    font-family: 'icomoon';
    src:url('/assets/icomoon.eot?-r077lv');
    src:url('/assets/icomoon.eot?#iefix-r077lv') format('embedded-opentype'),
    url('/assets/icomoon.woff?-r077lv') format('woff'),
    url('/assets/icomoon.ttf?-r077lv') format('truetype'),
    url('/assets/icomoon.svg?-r077lv#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-uniE606:before {
    content: "\e606";
}
.icon-uniE603:before {
    content: "\e603";
}
.icon-uniE605:before {
    content: "\e605";
}
.icon-uniE604:before {
    content: "\e604";
}
.icon-uniE600:before {
    content: "\e600";
}
.icon-uniE601:before {
    content: "\e601";
}
.icon-uniE602:before {
    content: "\e602";
}