a.mobile{
    cursor: pointer;
    display: inline-block;
    left: 50%;
    margin-left: -150px;
    margin-top: -24px;
    position: absolute;
    top: 50%;

    img{
      width: 300px;
    }

}

#terms-privacity{
  background-color: rgba(0,0,0,0.5);

  .message{
    border: 3px solid #A6A7AA;
    border-radius: 5px;
    color: white;
    height: 80%;
    left: 5%;
    padding: 1em;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    top: 5%;
    overflow: hidden;
    width: 78%;

    .close_modal{
      color: #A6A7AA;
      display: block;
      text-align: right;
    }

    .terms-privacity-content{
      height: 100%;
      overflow: scroll;
    }

    p, ol, ul{
      font-size: 7px;
    }
  }

}

#intro {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color:rgba(0,0,0,0.3); /*dim the background*/

  img{
    display: block;
  }
  .enter{
    font-size: 10px;
    float: right;
    padding: 5px 15px;
    text-align: center;
    text-transform: uppercase;
    width: 150px;
  }
}


#mail-form{

  .message{
    height: 200px;
    left: 50%;
    margin-left: -143px;
    margin-top: -125px;
    top: 50%;
    width: 250px;
  }
}

#invites{

  .message{
    height: 170px;
    left: 50%;
    margin-left: -143px;
    margin-top: -125px;
    top: 50%;
    width: 250px;

    .share-buttons{
      text-align: center;

      .fb{
        margin-right: 0px;
        margin-bottom: 1em;
      }
    }

  }
}

#map_container{
  width: 100%;
  height: 100%;
}

header{
  background-color: transparent;
  margin: 0px;
  padding: 0px;
  width: 100%;
  z-index: 101;

  h1{
    text-align: center;
  }

  nav{
    background-color: #002131;
    border: 1px double #002131;
    margin: 0em;
    padding: 0.4em 0em;
    text-align: center;

    ul{
      color: white;
      display: inline-block;
      font-size: 1.3em !important;
      margin: 0px;
      padding: 0px;
      vertical-align: top;

      li{
        display: inline-block;
        margin: 0px 6px;
        padding: 0px;
        vertical-align: top;
      }

      a{
        color: white;
        text-decoration: none;
      }
    }

    .routes{
      float: left;
    }

    .help-icon{
      float: right;
      cursor: pointer;
    }
  }

  .header-mobile{
    background: transparent url('/assets/logo.png') repeat-x top left;
    background-size: 100%;
    color: white;
    height: 42px;
    margin: 0px auto;
    padding: 0em;

    h1{
      font-size: 1.3em;
      margin: 0em;
      padding-top: 0.5em;
      text-align: center;
    }

    span{
      color: black;
    }

  }
}

.loader{
  border-radius: 5px;
  height: 60px;
  margin: 16px;
  position: relative;

  span{
    color: #A6A7AA;
    display: block;
    font-size: 10px;
    line-height: 16px;
    margin-top: 8px;
    text-align: center;
  }

  img{
    display: block;
    margin: 0px auto;
  }
}

#dashboard {
  display: none;
  margin: 5px;
  vertical-align: middle;
  text-align: center;

  line-height: normal;

  table {
    width: 100%;
    border-spacing: 5px;
    border-collapse: separate;

    tr {
      height: 50px;
    }

    img {
      width: 50px;
      height: 50px;
    }

    .user-cell {
      width: 70px;
      border: 1px solid black;
      font-size: 11px;
    }

    .instagram-cell {
      text-align: left;
    }

    #instagram-logout {
      width: 100%;
      font-size: 11px;
      margin-top: 5px;
    }
  }

}

#mobile-jc-gallery-thumbs .mobile-jc-gallery-thumbs-container{
  height: 100%;
  overflow: scroll;
  width: 100%;
}

#mobile-jc-gallery-thumbs, #mobile-jc-gallery{
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 101;
  background-color:rgba(0,0,0,0.5); /*dim the background*/

  .close_modal{
    color: #A6A7AA;
    display: block;
    text-align: right;
  }

  .btn_regresar{
    width: 100%;
    text-align: right;
    cursor: pointer;

    img {
      display: inline-block;
      width: 102px;
    }
  }

  .message{
    border: 3px solid #A6A7AA;
    border-radius: 5px;
    color: white;
    height: 80%;
    left: 5%;
    padding: 1em;
    position: relative;
    text-align: center;
    top: 5%;
    width: 78%;
    overflow: hidden;

    background: -moz-linear-gradient(-45deg,  #031c3c 1%, #002d61 34%, #022c5e 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(1%,#031c3c), color-stop(34%,#002d61), color-stop(100%,#022c5e)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  #031c3c 1%,#002d61 34%,#022c5e 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  #031c3c 1%,#002d61 34%,#022c5e 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  #031c3c 1%,#002d61 34%,#022c5e 100%); /* IE10+ */
    background: linear-gradient(135deg,  #031c3c 1%,#002d61 34%,#022c5e 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#031c3c', endColorstr='#022c5e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    .jc-gallery-title {
      font-size: 15px;
    }

    #jc-slick-carousel{
      height: 100%;
      width: 100%;
      margin-top: 20px;

      .jc-slick-carousel-slide{
        display: inline-block;
        width: 80%;
        text-align: center;

        div {
          display: inline-block;
          width: 80%;
          text-align: left;
        }

        .jc-photo-name {
          margin-top: 10px;
          text-align: center;
        }

        img{
          border: 3px solid #A6A7AA;
          border-radius: 3px;
          display: block;
          margin: 1em auto 0px;
          max-width: 75%;

          -webkit-box-shadow: 0px 0px 16px 0px rgba(50, 50, 50, 0.8);
          -moz-box-shadow:    0px 0px 16px 0px rgba(50, 50, 50, 0.8);
          box-shadow:         0px 0px 16px 0px rgba(50, 50, 50, 0.8);
        }

        .jc-photo-download {
          margin-top: 10px;
          text-align: center;

          a, a:hover, a.selected{
            font-size: 14px;
            color: white;
          }
        }
      }

      .slick-prev, .slick-prev:before {
        position: absolute;
        top: 20%;
        left: 0px;
        height: 25px;
        width: 25px;
      }

      .slick-next, .slick-next:before {
        position: absolute;
        top: 20%;
        right: 0px;
        height: 25px;
        width: 25px;
      }
    }

    .mobile-gallery-cell {
      display: inline-block;
      width: 100%;
      margin-top: 20px;
      text-align: center;

      img {
        display: inline-block;
        width: 90%;
        text-align: center;
        border: 0px;
        border: 3px solid #A6A7AA;
        border-radius: 3px;
      }
    }
  }
}

#gallery, #help-gallery{

  background: #002131 url('/assets/img-bkg-gallery-mobile.png') no-repeat top left;
  background-size: cover;
  overflow: hidden;
  position: relative;
  width: 100%;

  .close-gallery{
    background-color: #002131;
    color: white;
    cursor: pointer;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 14px;
    font-weight: bolder;
    right: 1em;
    padding: 0.5em;
    position: absolute;
    top: 1em;
    z-index: 100;
  }

  #slick-carousel, #help-slick-carousel{
    height: 100%;
    width: 100%;

    span{
      display: inline-block;
      width: 100%;
    }

    img{
      border: 5px solid #002131;
      border-radius: 5px;
      display: block;
      margin: 1em auto 0px;
      max-width: 50%;
      width: 100%;

      -webkit-box-shadow: 0px 0px 16px 0px rgba(50, 50, 50, 0.8);
      -moz-box-shadow:    0px 0px 16px 0px rgba(50, 50, 50, 0.8);
      box-shadow:         0px 0px 16px 0px rgba(50, 50, 50, 0.8);
    }

    .gallery-message{
      margin: 1em 0;

      p{
        color: #ffffff;
        font-size: 12px;
        margin: 0.3em auto;
        padding: 0px 1em;
        text-align: center;
      }
    }

    .post{
      position: relative;
      margin-top: 0em;
      min-height: 500px;
      overflow: hidden;

      .post-background{
        background: black;
        opacity: 0.7;
        position: absolute;
        height: 100%;
        left: 0px;
        top: 0px;
        width: 100%;
        z-index: -1;
      }

      h3{
        color: #01BeC7;
        font-size: 20px;
        font-weight: bolder;
        margin: 0.5em 1em;
        max-width: 250px;
        position: relative;
        z-index: 1;
      }

      .post-like {
        color: white;
        position: absolute;
        right: 10px;
        top: 14px;

        .liked{
          color: red;
        }

        .unliked{
          color: #A6A7AA;
        }
      }

      p{
        position: relative;
        color: white;
        font-size: 16px;
        margin: auto 1em;
        z-index: 1;
      }
    }
  }
}

#help-gallery {
  position: absolute;
  top: 87px;
  bottom: 0;

  .close-gallery {
    padding: 0;

    img {
      width: 25px;
    }
  }

  #help-slick-carousel img {
    display: block;
    margin: auto;
    margin-top: 10px;
    width: 60%;
    max-width: 60% !important;
  }

  .slick-prev {
    position: absolute;
    top: 50%;
    left: 5px;
    height: 25px;
    width: 25px;
  }

  .slick-next {
    position: absolute;
    top: 50%;
    right: 7px;
    height: 25px;
    width: 25px;
  }

  .slick-prev:before, .slick-next:before {
    font-size: 25px;
  }
}

.first-marker {
  display: inline-block;
  width: 30px;
  height: 46px;
  vertical-align: bottom;

  img {
    width: 30px;
    height: 46px;
  }
}

.secondary-marker {

  img {
    width: 20px;
    height: 20px;
  }

}

.image-marker {
  background-color: white;
  border: 1px solid white;
  border-radius: 5px;
  height: 50px;
  width: 50px;
  padding: 2px;
  -webkit-box-shadow: 0px 0px 16px 0px rgba(50, 50, 50, 0.8);
  -moz-box-shadow:    0px 0px 16px 0px rgba(50, 50, 50, 0.8);
  box-shadow:         0px 0px 16px 0px rgba(50, 50, 50, 0.8);

  img {
    -moz-box-shadow:    inset 0 0 10px #01BeC7;
    -webkit-box-shadow: inset 0 0 10px #01BeC7;
    box-shadow:         inset 0 0 10px #01BeC7;
    border-radius: 5px;
    width: 100%;
  }
}

#influencer-picture {

  bottom: 11% !important;
  cursor: pointer;
  display: inline-block;
  left: 2% !important;
  margin-left: 0px !important;
  position: absolute;
  top: auto !important;
  text-align: center;
  width: 110px;

  .influencer-picture-title{

    img{
      max-width: 110px;
      width: 100%
    }
  }

  .influencer-images{
    background-color: white;
    border: 2px solid white;
    border-radius: 50px;
    display: inline-block;
    height: 60px;
    overflow: hidden;
    width: 60px;

    -webkit-box-shadow: 0px 0px 16px 0px rgba(50, 50, 50, 0.8);
    -moz-box-shadow:    0px 0px 16px 0px rgba(50, 50, 50, 0.8);
    box-shadow:         0px 0px 16px 0px rgba(50, 50, 50, 0.8);

    .image-influencer, .image-route{
      width: 100%;
      height: 100%;
    }
  }

}

#influencer-container {
  display: none;
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  text-align: center;
  z-index: 101;
  background-color: rgba(0,0,0,0.5);
}

#influencer-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  background-color: red;
}

#influencer-gallery {
  border-radius: 5px;
  display: inline-block;
  height: 80%;
  overflow: scroll;
  position: relative;
  text-align: left;
  vertical-align: middle;
  width: 250px;

  #influencer-video {
    border: none;
  }
}

a.close-menu{
  color: white;
  display: block;
  float: right;
  text-align: right;
  text-decoration: none;
  padding: 0.8em 1em;
  width: 100px;
}

.footer{
  bottom: 2.5em;
  box-sizing: content-box;
  color: white;
  font-size: 8px;
  display: inline-block;
  left: 0px;
  padding: 1.5em 1em;
  position: fixed;
  text-align: left;
  width: 250px;
  z-index: 1;

}

#login-btn{
  line-height: 20px;
  padding: 0.6em 1em;
}

.helpButton{
  top: 80px;
  position: absolute;
  right: 5px;
  z-index: 99;

  img{
    max-width: 200px;
  }
}

.homenajeContainer {
  display: none;
  position: absolute;
  padding-top: 130px;
  top:0;
  bottom:0;
  left:0;
  right:0;
  text-align: center;
  z-index: 101;
  background-color: rgba(0,0,0,0.5);

  .close_homenaje {
    color: #A6A7AA;
    cursor: pointer;
    float: right;
    font-size: 22px;
    margin-top: -7px;
  }
}

.touchMarkerMessage{
  top: 100px;
  width: 94%;
}

.lightMessage{
  left: 0px;
  top: 80px;
  width: 250px;

  img{
    width: 100%;
  }
}

.vote-message-button {
  display: inline-block;
  left: 0px;
  bottom: 313px;
  text-align: center;
  top: auto;
  width: 100%;

  img {
    display: inline-block;
    width: 70%;
  }

}

#mobile-vote-message{
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 80px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 101;
  background-color:rgba(0,0,0,0.3); /*dim the background*/

  .message{
    border: 3px solid #A6A7AA;
    border-radius: 5px;
    color: white;
    height: 80%;
    left: 5%;
    padding: 1em;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    top: 5%;
    overflow: hidden;
    width: 78%;

    .close_modal{
      color: #A6A7AA;
      display: block;
      text-align: right;
    }

    .vote-message-content{
      height: 100%;
      overflow: scroll;
    }

    p, ol, ul{
      font-size: 7px;
    }
  }

}

a.cuervo{
  font-size: 26px;
}

@media (min-width: 768px) {
  .image-marker {
    height: 60px;
    width: 60px;
  }
}